# GENERATED by scripts/build_phoenix_poc.py from the vault contract 'calendar-events'. Do not edit.
openapi: 3.1.0
info:
  title: TimeLog API v1 - Calendar Events
  version: 0.1.0-draft
  x-status: draft
  x-freeze-target: '2026-10-14'
  summary: Calendar events, their registration as time, and per-source booking shares.
  description: 'The Calendar Events surface of the TimeLog API (`/v1`). A calendar integration (the CADAC Outlook sync, the
    TimeLog Outlook add-in, a Google Calendar add-on) reads an employee''s calendar events as TimeLog holds them, registers
    chosen events as time with `POST /v1/time-entries` carrying a `calendar_event` reference (PD-039), and sets its own per-day
    share of an employee''s planned hours on a task with `PUT /v1/bookings/by-day` (PD-017).


    Conventions (ids, lists, errors, idempotency, rate limits, events) are the platform''s and are described once in the shared
    components. Status: **draft**. Elements tagged `x-open-decision` carry provisional values until the named decision is
    taken.'
  contact:
    name: TimeLog Developer Experience (integrations Product Owner)
  license:
    name: Proprietary (TimeLog A/S)
    identifier: LicenseRef-TimeLog-Proprietary
  x-derived-from:
  - TARGET_API_MODEL.md §2.1 (the CE cut)
  - _work/S8b-D4-time.md (calendar-events, time-entries)
  - _work/S8b-D9-planning.md (bookings)
  - EVENT_CATALOG.md §2.4, §2.6
  x-rulings-applied:
  - FP-1
  - FP-2
  - FP-3
  - FP-4
  - FP-5
  - FP-6
  - FP-7
  - D-007
  - PD-016
  - PD-017
  - PD-025
  - PD-038
  - PD-039
  - PD-051
  - PD-052
  - PD-057
  - PD-058
  - PD-063
servers:
- url: https://api.timelog.com
  description: Production
- url: https://api.sandbox.timelog.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Calendar events
  description: 'Read-only. An employee''s Outlook calendar events as TimeLog holds them, each showing whether it has been
    registered as time. Outlook owns the event. Store behind the resource: ED-044 (the contract is store-neutral).'
- name: Time entries
  description: 'The single time-write path. In this contract: create (with an optional `calendar_event` reference) and upsert
    by the consumer''s own key. The full time-entries contract (list, get, patch, delete, batch) ships separately.'
- name: Bookings
  description: 'Day-level reservations of an employee''s hours on a task, split into shares by source. A writer sets only
    its own share for one day (PD-017). No delete: `hours: 0` zeroes a share.'
paths:
  /v1/calendar-events:
    get:
      operationId: listCalendarEvents
      tags:
      - Calendar events
      summary: List calendar events in a window
      description: 'Use to find an employee''s calendar events in a time window and see which are already registered as time.
        Typical sync read: `employee`, `start_after`, `start_before`, `has_time_entry=false`. Returns the compact projection
        by default (`fields=` selects more). There is no `updated_after` on this resource yet: re-read the window to detect
        Outlook-side changes; deleted events disappear from the window (snapshot-only delete strategy, P5 §3 (ii), until APG-209
        / ED-037). Private and confidential events of other employees are returned with times only (PD-058).'
      x-requirements:
      - CAP-216
      - CAP-218
      - SC-50
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      x-licence: outlook
      security:
      - bearerAuth:
        - time:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/IncludeDeleted'
      - name: employee
        in: query
        description: Only events of these employees (attendees), `in` list of `emp_` ids (SC-50). Without it, every employee
          the caller's row scope covers.
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/EmployeeId'
      - name: start_after
        in: query
        description: Only events whose `start_at` is strictly after this instant (sync window start).
        schema:
          type: string
          format: date-time
        example: '2026-09-01T00:00:00Z'
      - name: start_before
        in: query
        description: Only events whose `start_at` is at or before this instant (sync window end).
        schema:
          type: string
          format: date-time
        example: '2026-09-30T23:59:59Z'
      - name: has_time_entry
        in: query
        description: '`false` = only events not yet registered as time; `true` = only registered ones (CAP-216).'
        schema:
          type: boolean
      - name: ical_uid
        in: query
        description: Only events with these iCal UIDs (`in`). One iCal UID is one event per attendee, so several rows may
          match.
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            type: string
            maxLength: 1024
      - name: time_entry
        in: query
        description: Reverse lookup - the event registered by these time entries (`in` list of `te_` ids, CAP-217).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/TimeEntryId'
      - name: sort
        in: query
        description: One sort key, `-` for descending; implicit `id` tiebreak (P4 §3).
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          - start_at
          - -start_at
          default: start_at
      - name: expand
        in: query
        description: Replace these references in place with the full object (one level, P4 §5).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 5
          items:
            type: string
            enum:
            - employee
            - time_entry
      responses:
        '200':
          description: A page of calendar events (compact projection).
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEventList'
              examples:
                unregistered_window:
                  summary: Unregistered events of one employee in September
                  value:
                    data:
                    - id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
                      employee:
                        id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                      start_at: '2026-09-03T09:00:00+02:00'
                      end_at: '2026-09-03T10:00:00+02:00'
                      time_zone: Europe/Copenhagen
                      title: Sprint planning
                      content_redacted: false
                      time_entry: null
                      updated_at: '2026-09-02T14:21:07Z'
                    - id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV2
                      employee:
                        id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                      start_at: '2026-11-04T13:00:00+01:00'
                      end_at: '2026-11-04T14:30:00+01:00'
                      time_zone: Europe/Copenhagen
                      title: null
                      content_redacted: true
                      time_entry: null
                      updated_at: '2026-09-02T14:21:07Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-09-04T07:00:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/calendar-events/{id}:
    get:
      operationId: getCalendarEvent
      tags:
      - Calendar events
      summary: Get one calendar event
      description: 'Use to resolve a `cev_` reference (from a time entry, a booking share or an event''s `related[]`). Returns
        the full event. Once deletes are captured (APG-209, ED-037) a deleted event returns its tombstone inside the retention
        window; until then, and after the window, `404`. A time entry keeps its `calendar_event` reference after the event
        is deleted (PD-057): that reference may then dangle.'
      x-requirements:
      - CAP-216
      - SC-50
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-licence: outlook
      security:
      - bearerAuth:
        - time:read
      parameters:
      - name: id
        in: path
        required: true
        description: The calendar event id (`cev_…`). Deliberately not pattern-checked here so that any other prefix returns
          `404 not_found`, never `400` (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
      - $ref: '#/components/parameters/Fields'
      - name: expand
        in: query
        description: Replace these references in place with the full object (one level, P4 §5).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 5
          items:
            type: string
            enum:
            - employee
            - time_entry
      responses:
        '200':
          description: The calendar event, or its tombstone during the retention window once deletes are captured.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CalendarEvent'
                - $ref: '#/components/schemas/Tombstone'
              examples:
                registered_event:
                  summary: An event already registered as time
                  value:
                    id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
                    employee:
                      id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                    start_at: '2026-09-03T09:00:00+02:00'
                    end_at: '2026-09-03T10:00:00+02:00'
                    time_zone: Europe/Copenhagen
                    ical_uid: 040000008200E00074C5B7101A82E0080000000070A1C0D2B3E4F5061728394A5B6C7D8E
                    title: Sprint planning
                    classification: public
                    content_redacted: false
                    time_entry:
                      id: te_01JB7Q4ZK3M8T5V2W9X6Y0TE01
                    source: outlook
                    created_at: '2026-08-28T08:00:00Z'
                    updated_at: '2026-09-03T10:05:12Z'
                    deleted_at: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/time-entries:
    post:
      operationId: createTimeEntry
      tags:
      - Time entries
      summary: Register time (optionally from a calendar event)
      description: 'Use to register hours an employee worked on a task. To register a calendar event, send its id in `calendar_event`;
        `date`, `hours` and `task` are always yours - TimeLog does not derive them from the event (guidance: `date` = local
        date of `start_at` in the employee''s time zone). At most one non-deleted time entry may reference an event: a second
        one is `409 duplicate` with `matched_on: calendar_event`. Later event changes never change the entry; deleting the
        event leaves the entry and its reference; deleting the entry frees the event (PD-057). Runs every rule the TimeLog
        UI runs. If no allocation exists for (employee, task), one is created and returned, with warning `allocation_created`
        (PD-025). `Idempotency-Key` is required. `?dry_run=true` previews the outcome.'
      x-requirements:
      - CAP-203
      - CAP-207
      - CAP-217
      - SC-44
      - SC-50
      x-effects:
        effect: write
        idempotent: true
        idempotency: key_required
      security:
      - bearerAuth:
        - time:write
      parameters:
      - $ref: '#/components/parameters/IdempotencyKeyRequired'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeEntryCreate'
            examples:
              from_calendar_event:
                summary: Register a calendar event as one hour of project time
                value:
                  employee:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  task:
                    id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                  date: '2026-09-03'
                  hours: 1.0
                  billable: true
                  comment: Sprint planning
                  calendar_event:
                    id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
      responses:
        '201':
          description: 'Created (or, with `dry_run=true`, what would be created, with a placeholder id). Replays of the same
            `Idempotency-Key` and body return the original outcome with `Idempotent-Replayed: true`.'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryWriteResult'
              examples:
                created_with_allocation:
                  summary: Registered; an allocation was created implicitly (PD-025)
                  value:
                    id: te_01JB7Q4ZK3M8T5V2W9X6Y0TE01
                    employee:
                      id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                    date: '2026-09-03'
                    hours: 1.0
                    task:
                      id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                    project:
                      id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                    allocation:
                      id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
                    legal_entity:
                      id: lgl_01JB7Q4ZK3M8T5V2W9X6Y0GE01
                    billable: true
                    billable_hours: 1.0
                    comment: Sprint planning
                    approval_status: not_submitted
                    approval_stage: null
                    locked: false
                    lock_reasons: []
                    invoice_status: not_invoiced
                    invoice: null
                    calendar_event:
                      id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
                    external_id: {}
                    created_at: '2026-09-03T10:05:12Z'
                    updated_at: '2026-09-03T10:05:12Z'
                    deleted_at: null
                    warnings:
                    - code: allocation_created
                      detail: The employee was not allocated to this task; an allocation with 0 planned hours was created.
                      context:
                        allocation:
                          id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
                        project_membership_added: true
                dry_run:
                  summary: '`dry_run=true`: placeholder id, nothing stored'
                  value:
                    id: te_00000000000000000000000000
                    employee:
                      id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                    date: '2026-09-03'
                    hours: 1.0
                    task:
                      id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                    project:
                      id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                    allocation:
                      id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
                    legal_entity:
                      id: lgl_01JB7Q4ZK3M8T5V2W9X6Y0GE01
                    billable: true
                    billable_hours: 1.0
                    comment: Sprint planning
                    approval_status: not_submitted
                    approval_stage: null
                    locked: false
                    lock_reasons: []
                    invoice_status: not_invoiced
                    invoice: null
                    calendar_event:
                      id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
                    external_id: {}
                    created_at: '2026-09-03T10:05:12Z'
                    updated_at: '2026-09-03T10:05:12Z'
                    deleted_at: null
                    warnings: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/TimeEntryConflict'
        '422':
          $ref: '#/components/responses/TimeEntryUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/TimeRegistrationUnavailable'
  /v1/time-entries/ext:{ns}:{key}:
    put:
      operationId: upsertTimeEntryByExternalId
      tags:
      - Time entries
      summary: Create or update a time entry by your own key
      description: 'Use when your system keys time on its own id (a Google Calendar event id, a worklog id): creates the entry
        if no entry holds `{ns}:{key}`, otherwise updates it (FP-6). Idempotent without a key. On update, `date`, `hours`,
        `task`, `billable`, `billable_hours` and `comment` may change; `employee` and `calendar_event` are create-only (`422
        validation_failed`, field code `create_only`). A locked entry (closed timesheet, invoiced, closed period) is never
        silently overwritten: `409 resource_immutable`.'
      x-requirements:
      - CAP-206
      - SC-50
      x-effects:
        effect: write
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - time:write
      parameters:
      - name: ns
        in: path
        required: true
        description: Your namespace token (`[a-z0-9-]`, 1-32 chars, stable once used).
        schema:
          $ref: '#/components/schemas/NamespaceToken'
        example: gcal
      - name: key
        in: path
        required: true
        description: Your key within the namespace (URL-encoded).
        schema:
          type: string
          minLength: 1
          maxLength: 255
        example: 7k2m9q4r1t8v0x3z5b6d
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeEntryUpsert'
            examples:
              gcal_event:
                summary: A Google Calendar event registered under the add-on's own key
                value:
                  employee:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  task:
                    id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                  date: '2026-09-04'
                  hours: 0.5
                  comment: Customer check-in
      responses:
        '200':
          description: Updated the entry that holds the key.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryWriteResult'
              examples:
                updated:
                  $ref: '#/components/examples/GcalTimeEntry'
        '201':
          description: Created a new entry holding the key.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryWriteResult'
              examples:
                created:
                  $ref: '#/components/examples/GcalTimeEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/TimeEntryConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/TimeEntryUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/TimeRegistrationUnavailable'
  /v1/bookings:
    get:
      operationId: listBookings
      tags:
      - Bookings
      summary: List booking shares in a date window
      description: 'Use to read who is booked on what, per day and per source, in a date window (`date_from` and `date_to`
        are required, inclusive; the maximum window is a published number, PD-052). Each row is one source''s share of (employee,
        task, date). Shares your source zeroed (`hours: 0`) stay visible for a published window. Shares removed inside TimeLog
        (planner, recurring plans) simply disappear: there is no `updated_after` and no booking event yet (APG-616), so re-read
        the window to detect planner changes (snapshot-only delete strategy). Filter `source=<your namespace>` to read back
        your own shares.'
      x-requirements:
      - CAP-361
      - CAP-363
      - SC-50
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      security:
      - bearerAuth:
        - planning:read
      parameters:
      - name: date_from
        in: query
        required: true
        description: First business date of the window (inclusive).
        schema:
          type: string
          format: date
        example: '2026-09-01'
      - name: date_to
        in: query
        required: true
        description: Last business date of the window (inclusive). Window length ≤ the published maximum (PD-052); above it
          `400 malformed_request`.
        schema:
          type: string
          format: date
        example: '2026-09-30'
        x-open-decision:
        - PD-052
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - name: employee
        in: query
        description: Only shares of these employees (`in`, `emp_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/EmployeeId'
      - name: task
        in: query
        description: Only shares on these tasks (`in`, `tsk_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/TaskId'
      - name: allocation
        in: query
        description: Only shares hanging off these allocations (`in`, `alc_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/AllocationId'
      - name: project
        in: query
        description: Only shares on tasks of these projects (`in`, `prj_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ProjectId'
      - name: source
        in: query
        description: Only these sources (`in`, namespace tokens; `timelog` = shares written inside TimeLog).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/NamespaceToken'
      - name: calendar_event
        in: query
        description: Only shares set from these calendar events (`in`, `cev_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/CalendarEventId'
      - name: sort
        in: query
        description: One sort key, `-` for descending; implicit `id` tiebreak (P4 §3).
        schema:
          type: string
          enum:
          - date
          - -date
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          default: date
      - name: expand
        in: query
        description: Replace these references in place with the full object (one level, P4 §5).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 5
          items:
            type: string
            enum:
            - employee
            - task
            - allocation
            - calendar_event
      responses:
        '200':
          description: A page of booking shares, zeroed shares included.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingList'
              examples:
                two_sources_one_day:
                  summary: The planner's share and the CADAC sync's share on the same day
                  value:
                    data:
                    - id: bkg_01JB7Q4ZK3M8T5V2W9X6Y0BKG1
                      employee:
                        id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                      task:
                        id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                      allocation:
                        id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
                      project:
                        id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                      date: '2026-09-03'
                      hours: 2.0
                      source: timelog
                      calendar_event: null
                      created_at: '2026-08-20T09:04:12Z'
                      updated_at: '2026-08-20T09:04:12Z'
                    - id: bkg_01JB7Q4ZK3M8T5V2W9X6Y0BKG2
                      employee:
                        id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                      task:
                        id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                      allocation:
                        id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
                      project:
                        id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                      date: '2026-09-03'
                      hours: 1.5
                      source: cadac
                      calendar_event: null
                      created_at: '2026-09-01T06:00:03Z'
                      updated_at: '2026-09-02T06:00:04Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-09-04T07:00:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ResourcePlanningUnavailable'
  /v1/bookings/{id}:
    get:
      operationId: getBooking
      tags:
      - Bookings
      summary: Get one booking share
      description: Use to resolve a `bkg_` id to one source's share of (employee, task, date). The id is read-only and stable
        per (employee, task, date, source) (ED-036). A zeroed share resolves during the published zeroed-share window (PD-052);
        after it, and for shares removed inside TimeLog, `404`.
      x-requirements:
      - CAP-361
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - planning:read
      parameters:
      - name: id
        in: path
        required: true
        description: The booking share id (`bkg_…`). Not pattern-checked so that any other prefix returns `404 not_found`
          (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: bkg_01JB7Q4ZK3M8T5V2W9X6Y0BKG1
      - $ref: '#/components/parameters/Fields'
      - name: expand
        in: query
        description: Replace these references in place with the full object (one level, P4 §5).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 5
          items:
            type: string
            enum:
            - employee
            - task
            - allocation
            - calendar_event
      responses:
        '200':
          description: The booking share.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                cadac_share:
                  $ref: '#/components/examples/CadacShare'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ResourcePlanningUnavailable'
  /v1/bookings/by-day:
    put:
      operationId: setBookingShareByDay
      tags:
      - Bookings
      summary: Set your source's share of one day
      description: 'Use to state how many hours your source has booked for an employee on a task on one day. Sets only the
        share of `source`; the planner''s share and other sources'' shares are never touched. `hours` is the desired total
        for your source on that day (not a delta); `hours: 0` zeroes your share, which stays readable. There is no DELETE.
        A multi-day event is one call per day. The employee must already be allocated to the task: otherwise `409 allocation_required`
        (no allocation is created, PD-063). The source `timelog` is reserved. Idempotent by construction (`Idempotency-Key`
        optional); the response echoes the accepted share so no follow-up read is needed.'
      x-requirements:
      - CAP-362
      - SC-50
      x-effects:
        effect: write
        idempotent: true
        idempotency: key_optional
      security:
      - bearerAuth:
        - planning:write
      parameters:
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingShareSet'
            examples:
              set_share:
                summary: CADAC books 1.5 h on 3 September
                value:
                  employee:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  task:
                    id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                  date: '2026-09-03'
                  source: cadac
                  hours: 1.5
              zero_share:
                summary: The meeting was cancelled - zero the share
                value:
                  employee:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  task:
                    id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
                  date: '2026-09-03'
                  source: cadac
                  hours: 0
      responses:
        '200':
          description: The share existed and now has the requested hours (also when unchanged).
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                updated:
                  $ref: '#/components/examples/CadacShare'
        '201':
          description: First share of this source at this coordinate.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
              examples:
                created:
                  $ref: '#/components/examples/CadacShare'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/BookingConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/BookingUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ResourcePlanningUnavailable'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer credential of a service account bound to an `api_user` employee (D-007) or a personal access token
        (P2 §A). The tenant comes from the credential only. Effective permission = scope ∩ privilege ∩ licence ∩ row scope
        (P2 §B). Security requirements list the required `<family>:<access>` scopes as role names (OpenAPI 3.1 §4.8.30). Token
        mechanism: service accounts ED-019, PATs on the public host ED-004.'
      x-open-decision:
      - ED-019
      - ED-004
      x-scopes:
        time:read: Read time entries, timesheets and calendar events.
        time:write: Create and change time entries.
        planning:read: Read allocations, bookings and capacity views.
        planning:write: Set booking shares and change allocations.
        costs:read: Sensitive (PD-012). Cost and revenue fields; omitted from bodies when absent.
        customers:read: Read customers, their status labels and (when shipped) contacts.
        customers:write: Create, change, merge-mark and delete customers.
        projects:read: Read projects, project templates and project reference lists (types, categories, stages).
        projects:write: Create projects (blank or from a template), change them, move them through their lifecycle and delete
          them.
  responses:
    TimeEntryConflict:
      description: 'The write conflicts with the current state of TimeLog data. `duplicate` (`matched_on`: `calendar_event`
        when the event is already registered, `external_id`, `idempotency`), `idempotency_key_reused`, `idempotency_request_in_progress`
        (retryable), `period_locked` (date in a closed period), `resource_immutable` (update of a locked entry via `PUT ext:`),
        `registration_target_unavailable` (the task, project or allocation does not accept time; same reasons as the registration-targets
        view), `allocated_hours_exceeded` (tenant blocks time beyond allocated hours).'
      x-error-codes:
      - duplicate
      - idempotency_key_reused
      - idempotency_request_in_progress
      - period_locked
      - resource_immutable
      - registration_target_unavailable
      - allocated_hours_exceeded
      x-context-by-code:
        duplicate: ../_shared/components.yaml#/components/schemas/DuplicateContext
        period_locked: ../_shared/components.yaml#/components/schemas/PeriodLockedContext
        resource_immutable: ../_shared/components.yaml#/components/schemas/ResourceImmutableContext
        registration_target_unavailable: '#/components/schemas/RegistrationTargetUnavailableContext'
        allocated_hours_exceeded: '#/components/schemas/AllocatedHoursExceededContext'
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  anyOf:
                  - $ref: '#/components/schemas/DuplicateContext'
                  - $ref: '#/components/schemas/PeriodLockedContext'
                  - $ref: '#/components/schemas/ResourceImmutableContext'
                  - $ref: '#/components/schemas/RegistrationTargetUnavailableContext'
                  - $ref: '#/components/schemas/AllocatedHoursExceededContext'
          examples:
            calendar_event_already_registered:
              value:
                type: /errors/duplicate
                title: Duplicate
                status: 409
                code: duplicate
                detail: This calendar event is already registered as time entry te_01JB7Q4ZK3M8T5V2W9X6Y0TE01. Update that
                  entry instead, or delete it to register the event again.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE11
                retryable: false
                context:
                  matched_on: calendar_event
                  conflicting_resource:
                    type: time_entry
                    id: te_01JB7Q4ZK3M8T5V2W9X6Y0TE01
            period_locked:
              value:
                type: /errors/period_locked
                title: Period locked
                status: 409
                code: period_locked
                detail: Time cannot be registered on 2026-08-29; the period is locked for registration. Register in an open
                  period or ask a finance user to reopen it.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE12
                retryable: false
                context:
                  lock_kind: registration
                  period:
                    start: '2026-08-01'
                    end: '2026-08-31'
            registration_target_unavailable:
              value:
                type: /errors/registration_target_unavailable
                title: Registration target unavailable
                status: 409
                code: registration_target_unavailable
                detail: The task does not accept time because it is not in progress. Choose an active task.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE13
                retryable: false
                context:
                  target:
                    type: task
                    id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK2
                  reason: task_not_in_progress
    TimeEntryUnprocessable:
      description: 'The request is invalid whatever the state. `validation_failed` with all field problems in `errors[]` (`required`,
        e.g. `comment` where the tenant requires comments; `out_of_range` on `hours`; `create_only` on `employee` / `calendar_event`
        in an update; `read_only`; `unknown_reference` for an id that does not exist or is not visible). `rule_violation`
        with `rule: calendar_event_employee_mismatch` when the event belongs to another employee than the entry.'
      x-error-codes:
      - validation_failed
      - rule_violation
      x-context-by-code:
        rule_violation: ../_shared/components.yaml#/components/schemas/RuleViolationContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/RuleViolationContext'
          examples:
            employee_mismatch:
              value:
                type: /errors/rule_violation
                title: Rule violation
                status: 422
                code: rule_violation
                detail: The calendar event belongs to another employee. Register it for the event's attendee.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE14
                retryable: false
                context:
                  rule: calendar_event_employee_mismatch
            validation_failed:
              value:
                type: /errors/validation_failed
                title: Validation failed
                status: 422
                code: validation_failed
                detail: Two fields are invalid. Correct them and send the request again.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE15
                retryable: false
                errors:
                - pointer: /hours
                  code: out_of_range
                  message: Hours must be greater than 0.
                  constraint:
                    exclusive_minimum: 0
                - pointer: /calendar_event/id
                  code: unknown_reference
                  message: No calendar event with this id is visible to this credential.
    TimeRegistrationUnavailable:
      description: 'Time registration is temporarily unavailable (`dependency_unavailable`, `capability: time_registration`)
        or the service is overloaded. With `outcome: unknown`, retry with the same `Idempotency-Key`.'
      x-error-codes:
      - dependency_unavailable
      - service_unavailable
      x-context-by-code:
        dependency_unavailable: ../_shared/components.yaml#/components/schemas/DependencyUnavailableContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/DependencyUnavailableContext'
          example:
            type: /errors/dependency_unavailable
            title: Dependency unavailable
            status: 503
            code: dependency_unavailable
            detail: Time registration is temporarily unavailable. Retry with the same Idempotency-Key after 20 seconds.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE16
            retryable: true
            context:
              capability: time_registration
              outcome: unknown
    BookingConflict:
      description: '`allocation_required` (no allocation for (employee, task); create one first - PD-063), `period_locked`
        (the day is locked for planning; lock semantics for bookings are untraced, APG-326), `idempotency_key_reused`, `idempotency_request_in_progress`
        (retryable).'
      x-error-codes:
      - allocation_required
      - period_locked
      - idempotency_key_reused
      - idempotency_request_in_progress
      x-context-by-code:
        allocation_required: '#/components/schemas/AllocationRequiredContext'
        period_locked: ../_shared/components.yaml#/components/schemas/PeriodLockedContext
      x-open-decision:
      - APG-326
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  anyOf:
                  - $ref: '#/components/schemas/AllocationRequiredContext'
                  - $ref: '#/components/schemas/PeriodLockedContext'
          examples:
            allocation_required:
              value:
                type: /errors/allocation_required
                title: Allocation required
                status: 409
                code: allocation_required
                detail: The employee is not allocated to this task. Allocate the employee to the task in TimeLog, then set
                  the booking again.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE17
                retryable: false
                context:
                  employee:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  task:
                    id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK2
    BookingUnprocessable:
      description: '`validation_failed` (`out_of_range` on `hours`, `unknown_reference` for an employee or task that does
        not exist or is not visible, `invalid_format` on `source`); `rule_violation` with `rule: booking_source_reserved`
        when `source` is `timelog`.'
      x-error-codes:
      - validation_failed
      - rule_violation
      x-context-by-code:
        rule_violation: ../_shared/components.yaml#/components/schemas/RuleViolationContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/RuleViolationContext'
          examples:
            reserved_source:
              value:
                type: /errors/rule_violation
                title: Rule violation
                status: 422
                code: rule_violation
                detail: The source 'timelog' is reserved for bookings made inside TimeLog. Use your own namespace.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE18
                retryable: false
                context:
                  rule: booking_source_reserved
    ResourcePlanningUnavailable:
      description: 'Resource planning cannot complete the request (`dependency_unavailable`, `capability: resource_planning`;
        the booking write path is ED-016), or the service is overloaded.'
      x-error-codes:
      - dependency_unavailable
      - service_unavailable
      x-context-by-code:
        dependency_unavailable: ../_shared/components.yaml#/components/schemas/DependencyUnavailableContext
      x-open-decision:
      - ED-016
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/DependencyUnavailableContext'
          example:
            type: /errors/dependency_unavailable
            title: Dependency unavailable
            status: 503
            code: dependency_unavailable
            detail: Resource planning is temporarily unavailable; the share was not changed. Retry after 30 seconds.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE19
            retryable: true
            context:
              capability: resource_planning
              outcome: not_applied
    BadRequest:
      description: 'The request cannot be parsed or uses a parameter this operation does not declare (P8 class 4). Codes:
        `malformed_request`, `unknown_parameter` (e.g. `updated_after` on a resource whose incremental-sync gate is closed,
        P5 §2), `invalid_cursor`, `validation_failed` (missing required `Idempotency-Key`).'
      x-error-codes:
      - malformed_request
      - unknown_parameter
      - invalid_cursor
      - validation_failed
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            unknown_parameter:
              value:
                type: /errors/unknown_parameter
                title: Unknown query parameter
                status: 400
                code: unknown_parameter
                detail: The parameter 'updated_after' is not supported on this list. Remove it and re-read the window; incremental
                  sync is not yet offered for this resource.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ2
                retryable: false
                errors:
                - pointer: query:updated_after
                  code: not_allowed_value
                  message: Not a declared parameter of this operation.
            invalid_cursor:
              value:
                type: /errors/invalid_cursor
                title: Invalid cursor
                status: 400
                code: invalid_cursor
                detail: The cursor is expired or was combined with changed parameters. Restart the listing without a cursor.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ3
                retryable: false
    Unauthenticated:
      description: No valid credential (P8 class 1). Never says whether a credential exists. Re-mint or refresh; do not retry
        unchanged.
      x-error-codes:
      - unauthenticated
      - token_expired
      - token_revoked
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        WWW-Authenticate:
          description: Bearer challenge.
          schema:
            type: string
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/unauthenticated
            title: Authentication required
            status: 401
            code: unauthenticated
            detail: Send a valid bearer credential in the Authorization header.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ4
            retryable: false
    Forbidden:
      description: 'The credential may not perform this operation (P8 class 2): `missing_scope` (context `required_scopes`),
        `insufficient_privilege`, `licence_required` / `feature_disabled` (context `module`). A record outside the caller''s
        row scope is `404`, never `403`.'
      x-error-codes:
      - missing_scope
      - insufficient_privilege
      - licence_required
      - feature_disabled
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            missing_scope:
              value:
                type: /errors/missing_scope
                title: Missing scope
                status: 403
                code: missing_scope
                detail: This credential lacks the scope 'time:read'. Ask a tenant admin to add it to the credential.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ5
                retryable: false
                context:
                  required_scopes:
                  - time:read
    NotFound:
      description: No such resource, or it exists outside the caller's row scope or tenant; the two are byte-identical (P8
        class 3, row-scope rule). A wrong id prefix is also `404` (P3 §2).
      x-error-codes:
      - not_found
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/not_found
            title: Not found
            status: 404
            code: not_found
            detail: No calendar event with this id is visible to this credential.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ6
            retryable: false
            context:
              resource_type: calendar_event
              id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV9
    PreconditionFailed:
      description: '`If-Match` did not match the current `ETag`; nothing was written (P8 class 5). Re-read, re-apply, retry
        with the new value.'
      x-error-codes:
      - precondition_failed
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/precondition_failed
            title: Precondition failed
            status: 412
            code: precondition_failed
            detail: The resource changed since you read it. Read it again and re-apply your change.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ7
            retryable: false
            context:
              current_etag: '"b3a1f0"'
    RateLimited:
      description: 'A rate limit or quota was exceeded (P8 class 9, P9). Wait `Retry-After`; `retryable: true`.'
      x-error-codes:
      - rate_limited
      - quota_exceeded
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/rate_limited
            title: Rate limited
            status: 429
            code: rate_limited
            detail: This credential exceeded its request rate. Retry after 12 seconds.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ8
            retryable: true
            context:
              limit_scope: credential
              retry_after_seconds: 12
    InternalError:
      description: Transient server error (P8 class 11). `retryable` states whether the same request may be retried; writes
        retry only with the same `Idempotency-Key`. `context.outcome` is `not_applied` or `unknown` on writes.
      x-error-codes:
      - internal_error
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/internal_error
            title: Internal error
            status: 500
            code: internal_error
            detail: An unexpected error occurred. Retry with the same Idempotency-Key; quote the request id if it persists.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ9
            retryable: true
            context:
              outcome: unknown
    ServiceUnavailable:
      description: 'A dependency or the service is unavailable (P8 classes 10-11): `dependency_unavailable` (context `capability`,
        a public capability name, and `outcome`), `service_unavailable`. Retry after `Retry-After`; writes with `outcome:
        unknown` retry with the same `Idempotency-Key`.'
      x-error-codes:
      - dependency_unavailable
      - service_unavailable
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/service_unavailable
            title: Service unavailable
            status: 503
            code: service_unavailable
            detail: The service is temporarily overloaded. Retry after 30 seconds.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE10
            retryable: true
  examples:
    GcalTimeEntry:
      summary: A time entry keyed by the add-on's own id
      value:
        id: te_01JB7Q4ZK3M8T5V2W9X6Y0TE02
        employee:
          id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
        date: '2026-09-04'
        hours: 0.5
        task:
          id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
        project:
          id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
        allocation:
          id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
        legal_entity:
          id: lgl_01JB7Q4ZK3M8T5V2W9X6Y0GE01
        billable: true
        billable_hours: 0.5
        comment: Customer check-in
        approval_status: not_submitted
        approval_stage: null
        locked: false
        lock_reasons: []
        invoice_status: not_invoiced
        invoice: null
        calendar_event: null
        external_id:
          gcal: 7k2m9q4r1t8v0x3z5b6d
        created_at: '2026-09-04T15:30:00Z'
        updated_at: '2026-09-04T15:30:00Z'
        deleted_at: null
        warnings: []
    CadacShare:
      summary: The CADAC sync's share on 3 September
      value:
        id: bkg_01JB7Q4ZK3M8T5V2W9X6Y0BKG2
        employee:
          id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
        task:
          id: tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
        allocation:
          id: alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
        project:
          id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
        date: '2026-09-03'
        hours: 1.5
        source: cadac
        calendar_event: null
        created_at: '2026-09-01T06:00:03Z'
        updated_at: '2026-09-02T06:00:04Z'
  schemas:
    CalendarEvent:
      type: object
      description: One attendee's occurrence of an Outlook calendar event as TimeLog holds it (one `cev_` per attendee and
        occurrence). Read-only; Outlook owns it. No history (current values only, PD-041).
      required:
      - id
      - employee
      - start_at
      - end_at
      - time_zone
      - ical_uid
      - title
      - classification
      - content_redacted
      - time_entry
      - source
      - created_at
      - updated_at
      - deleted_at
      properties:
        id:
          $ref: '#/components/schemas/CalendarEventId'
        employee:
          $ref: '#/components/schemas/EmployeeRef'
          description: The attendee whose calendar this is.
        start_at:
          type: string
          format: date-time
          description: Start, RFC 3339 with the event's own UTC offset at that instant (DST-correct per occurrence). Never
            offset-less.
        end_at:
          type: string
          format: date-time
          description: End, RFC 3339 with the event's own UTC offset.
        time_zone:
          type:
          - string
          - 'null'
          description: 'IANA time zone of the event (`Europe/Copenhagen`). Windows zone ids are converted and never exposed;
            an unmappable zone gives `null` while `start_at` / `end_at` stay exact. All-day events: representation pending
            (APG-224).'
          x-open-decision:
          - APG-224
        ical_uid:
          type: string
          description: iCal UID, the cross-attendee join key. Not unique per row (one event per attendee).
        title:
          type:
          - string
          - 'null'
          description: 'Subject. `null` when `content_redacted` is `true`: a private or confidential event of another employee
            shows times only (PD-058 (a)).'
        classification:
          type: string
          description: Sensitivity. Open enum (FP-1); treat an unknown value as `private`.
          x-extensible-enum:
          - public
          - private
          - confidential
        content_redacted:
          type: boolean
          description: '`true` when the caller is not the attendee and the event is `private` or `confidential`: content fields
            are withheld, times and registration state are kept (PD-058 (a)).'
        time_entry:
          description: The non-deleted time entry registered from this event, or `null` (PD-039). Freed when the entry is
            deleted (PD-057).
          oneOf:
          - $ref: '#/components/schemas/TimeEntryRef'
          - type: 'null'
        source:
          type: string
          description: Where the event comes from. Open enum; `outlook` in v1. Treat an unknown value as an external calendar.
          x-extensible-enum:
          - outlook
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: 'null'
          description: Always `null` on a live event. A deleted event is returned as a `Tombstone` (P5 §3), never as a full
            body.
    CalendarEventCompact:
      type: object
      description: Default list projection (P4 §4). `fields=` selects any field of `CalendarEvent`.
      required:
      - id
      - employee
      - start_at
      - end_at
      - time_zone
      - title
      - content_redacted
      - time_entry
      - updated_at
      properties:
        id:
          $ref: '#/components/schemas/CalendarEventId'
        employee:
          $ref: '#/components/schemas/EmployeeRef'
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        time_zone:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        content_redacted:
          type: boolean
        time_entry:
          oneOf:
          - $ref: '#/components/schemas/TimeEntryRef'
          - type: 'null'
        updated_at:
          type: string
          format: date-time
    CalendarEventList:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CalendarEventCompact'
        meta:
          $ref: '#/components/schemas/ListMeta'
    TimeEntryCreate:
      type: object
      description: Body of `POST /v1/time-entries`.
      required:
      - employee
      - task
      - date
      - hours
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeRef'
          description: Whose time. Create-only. Registering for someone else needs the register-for-others privilege.
        task:
          $ref: '#/components/schemas/TaskRef'
        date:
          type: string
          format: date
          description: Business date of the work (no time of day). For a calendar event, the local date of `start_at` in the
            employee's zone.
        hours:
          type: number
          exclusiveMinimum: 0
          description: Hours worked. Must be > 0; the upper bound is the engine's.
        billable:
          type: boolean
          description: Requested billable flag. TimeLog may override it per project rules (warning `billable_overridden`).
        billable_hours:
          type: number
          minimum: 0
          description: Only where the tenant lets billable time be edited.
        comment:
          type:
          - string
          - 'null'
          description: Required when the tenant requires comments.
        calendar_event:
          description: The calendar event this time registers (PD-039). Create-only. Its `employee` must equal the entry's.
          oneOf:
          - $ref: '#/components/schemas/CalendarEventRef'
          - type: 'null'
        external_id:
          $ref: '#/components/schemas/ExternalIdMap'
      additionalProperties: false
    TimeEntryUpsert:
      type: object
      description: Body of `PUT /v1/time-entries/ext:{ns}:{key}`. The path key is the external id; on update `employee` and
        `calendar_event` must be unchanged.
      required:
      - employee
      - task
      - date
      - hours
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeRef'
        task:
          $ref: '#/components/schemas/TaskRef'
        date:
          type: string
          format: date
        hours:
          type: number
          exclusiveMinimum: 0
        billable:
          type: boolean
        billable_hours:
          type: number
          minimum: 0
        comment:
          type:
          - string
          - 'null'
        calendar_event:
          oneOf:
          - $ref: '#/components/schemas/CalendarEventRef'
          - type: 'null'
      additionalProperties: false
    TimeEntry:
      type: object
      description: Hours an employee worked on a task, with three independent status facets (approval, lock, invoicing) and
        an eventually consistent money facet visible only with `costs:read`.
      required:
      - id
      - employee
      - date
      - hours
      - task
      - project
      - allocation
      - legal_entity
      - billable
      - billable_hours
      - comment
      - approval_status
      - approval_stage
      - locked
      - lock_reasons
      - invoice_status
      - invoice
      - calendar_event
      - external_id
      - created_at
      - updated_at
      - deleted_at
      properties:
        id:
          $ref: '#/components/schemas/TimeEntryId'
        employee:
          $ref: '#/components/schemas/EmployeeRef'
        date:
          type: string
          format: date
        hours:
          type: number
        task:
          $ref: '#/components/schemas/TaskRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
          description: Derived from the task.
        allocation:
          $ref: '#/components/schemas/AllocationRef'
          description: Created implicitly when missing (PD-025).
        legal_entity:
          $ref: '#/components/schemas/LegalEntityRef'
        billable:
          type: boolean
        billable_hours:
          type: number
        comment:
          type:
          - string
          - 'null'
        approval_status:
          type: string
          description: Open enum; treat an unknown value as `submitted` (in progress). Stages provisional on PD-023/PD-004.
          x-extensible-enum:
          - not_submitted
          - submitted
          - approved
          - rejected
        approval_stage:
          type:
          - string
          - 'null'
          description: Open enum; ignore an unknown value.
          x-extensible-enum:
          - employee_manager
          - project_manager
        locked:
          type: boolean
        lock_reasons:
          type: array
          description: Open enum items; treat an unknown reason as locked.
          items:
            type: string
            x-extensible-enum:
            - timesheet_closed
            - invoiced
            - period_closed
        invoice_status:
          type: string
          description: Open enum; treat an unknown value as invoiced (do not change).
          x-extensible-enum:
          - not_invoiced
          - on_voucher
          - on_invoice
        invoice:
          oneOf:
          - $ref: '#/components/schemas/InvoiceRef'
          - type: 'null'
        sales_rate:
          description: Sales price per hour (PD-026, PD-012). `null` until the post-commit financial write lands.
          x-required-scope: costs:read
          oneOf:
          - $ref: '#/components/schemas/Money'
          - type: 'null'
        rate:
          description: The contract rate that priced the entry.
          x-required-scope: costs:read
          oneOf:
          - $ref: '#/components/schemas/ContractRateRef'
          - type: 'null'
        amount:
          description: Sales value of the entry.
          x-required-scope: costs:read
          oneOf:
          - $ref: '#/components/schemas/Money'
          - type: 'null'
        cost:
          description: Cost value of the entry.
          x-required-scope: costs:read
          oneOf:
          - $ref: '#/components/schemas/Money'
          - type: 'null'
        financials_updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the money facet last changed (separate watermark, PD-026; ED-029).
          x-required-scope: costs:read
          x-open-decision:
          - ED-029
        calendar_event:
          description: The calendar event this entry registers (PD-039). Survives deletion of the event as a dangling reference
            (PD-057).
          oneOf:
          - $ref: '#/components/schemas/CalendarEventRef'
          - type: 'null'
        external_id:
          $ref: '#/components/schemas/ExternalIdMap'
        created_at:
          type: string
          format: date-time
          description: Creation instant. Exposure gated on APG-201 (the stored value is overwritten on update today).
          x-open-decision:
          - APG-201
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
    TimeEntryWriteResult:
      description: A time entry plus the non-fatal outcomes of the write (P8 warnings), e.g. `allocation_created`, `billable_overridden`.
      allOf:
      - $ref: '#/components/schemas/TimeEntry'
      - type: object
        required:
        - warnings
        properties:
          warnings:
            type: array
            items:
              $ref: '#/components/schemas/Warning'
    Booking:
      type: object
      description: One source's share of an employee's planned hours on a task on one day. Firm bookings only (tentative vs
        confirmed is FUTURE, CAP-363). No history.
      required:
      - id
      - employee
      - task
      - allocation
      - project
      - date
      - hours
      - source
      - calendar_event
      - created_at
      - updated_at
      properties:
        id:
          $ref: '#/components/schemas/BookingId'
        employee:
          $ref: '#/components/schemas/EmployeeRef'
        task:
          $ref: '#/components/schemas/TaskRef'
        allocation:
          $ref: '#/components/schemas/AllocationRef'
          description: Derived from (employee, task).
        project:
          $ref: '#/components/schemas/ProjectRef'
          description: Derived from the task.
        date:
          type: string
          format: date
        hours:
          type: number
          minimum: 0
          description: This source's hours on this day. `0` = a zeroed share (still readable for the published window, PD-052).
        source:
          $ref: '#/components/schemas/NamespaceToken'
          description: Who owns this share. `timelog` = written inside TimeLog (planner, recurring plans); readable, never
            writable via /v1.
        calendar_event:
          description: The calendar event the share was set from, where TimeLog knows it; otherwise `null`.
          oneOf:
          - $ref: '#/components/schemas/CalendarEventRef'
          - type: 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BookingList:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Booking'
        meta:
          $ref: '#/components/schemas/ListMeta'
    BookingShareSet:
      type: object
      description: Body of `PUT /v1/bookings/by-day`. The coordinate (employee, task, date, source) is the key.
      required:
      - employee
      - task
      - date
      - source
      - hours
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeRef'
        task:
          $ref: '#/components/schemas/TaskRef'
        date:
          type: string
          format: date
          description: Business date of the share.
        source:
          $ref: '#/components/schemas/NamespaceToken'
          description: Your source namespace. `timelog` is reserved (`422 rule_violation`).
        hours:
          type: number
          minimum: 0
          description: Desired total for your source on this day (not a delta). `0` zeroes the share. Upper bound pending
            trace (APG-325).
          x-open-decision:
          - APG-325
      additionalProperties: false
    RegistrationTargetUnavailableContext:
      type: object
      required:
      - target
      - reason
      properties:
        target:
          $ref: '#/components/schemas/TypedRef'
        reason:
          type: string
          description: Open enum; treat an unknown reason as "choose another target".
          x-extensible-enum:
          - task_not_in_progress
          - not_a_leaf_task
          - project_inactive
          - project_closed_for_time
          - allocation_completed
          - rate_inactive
          - outside_employment
          - not_in_resource_group
    AllocatedHoursExceededContext:
      type: object
      required:
      - allocation
      - allocated_hours
      - registered_hours
      properties:
        allocation:
          $ref: '#/components/schemas/AllocationRef'
        allocated_hours:
          type: number
        registered_hours:
          type: number
    AllocationRequiredContext:
      type: object
      required:
      - employee
      - task
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeRef'
        task:
          $ref: '#/components/schemas/TaskRef'
    CalendarEventId:
      type: string
      description: Calendar event id. Opaque. Prefix `cev_` is a registry proposal not yet in MAP §6 (TARGET_API_MODEL §2.3).
      pattern: ^cev_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV1
    TimeEntryId:
      type: string
      description: Time entry id. Opaque. Prefix `te_` ratified (FP-6); ULID minting ED-003.
      pattern: ^te_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 29
      x-open-decision:
      - ED-003
      examples:
      - te_01JB7Q4ZK3M8T5V2W9X6Y0TE01
    BookingId:
      type: string
      description: Booking share id. Read-only (PD-017). Prefix `bkg_` is a registry proposal; the source header has no GUID,
        so the id is minted or computed (ED-036).
      pattern: ^bkg_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-036
      - ED-003
      examples:
      - bkg_01JB7Q4ZK3M8T5V2W9X6Y0BKG1
    EmployeeId:
      type: string
      description: Employee id. Every person-valued field is an `emp_` reference (PD-038). Prefix is a registry proposal.
      pattern: ^emp_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
    TaskId:
      type: string
      description: Task id. Prefix is a registry proposal.
      pattern: ^tsk_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - tsk_01JB7Q4ZK3M8T5V2W9X6Y0TSK1
    ProjectId:
      type: string
      description: Project id. Prefix `prj_` ratified (FP-6).
      pattern: ^prj_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      examples:
      - prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
    AllocationId:
      type: string
      description: Allocation id. Prefix is a registry proposal (backed by `AllocationGUID`, APG-316 pending).
      pattern: ^alc_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - alc_01JB7Q4ZK3M8T5V2W9X6Y0AC01
    LegalEntityId:
      type: string
      description: Legal entity id. Prefix is a registry proposal.
      pattern: ^lgl_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - lgl_01JB7Q4ZK3M8T5V2W9X6Y0GE01
    InvoiceId:
      type: string
      description: Invoice id. Prefix `inv_` ratified (FP-6).
      pattern: ^inv_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      examples:
      - inv_01JB7Q4ZK3M8T5V2W9X6Y0NV01
    ContractRateId:
      type: string
      description: Contract rate id. Prefix is a registry proposal.
      pattern: ^rte_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - rte_01JB7Q4ZK3M8T5V2W9X6Y0RTE1
    TenantId:
      type: string
      description: Tenant id. Prefix `ten_` ratified (FP-2/FP-6).
      pattern: ^ten_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      examples:
      - ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
    EventId:
      type: string
      description: Webhook event id. Prefix `evt_` ratified (FP-2). Consumers dedupe on it.
      pattern: ^evt_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      examples:
      - evt_01JB7Q4ZK3M8T5V2W9X6Y0EVT1
    CustomerId:
      type: string
      description: Customer id (customers, suppliers and leads share it, PD-035). Prefix `cus_` ratified (FP-6); bridge `CustomerGUID`.
      pattern: ^cus_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      examples:
      - cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
    ContactId:
      type: string
      description: Contact id. Prefix is a registry proposal; bridge `ContactGUID`.
      pattern: ^ctc_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - ctc_01JB7Q4ZK3M8T5V2W9X6Y0CTC1
    CustomerStatusId:
      type: string
      description: Customer status label id. Prefix is a registry proposal; bridge `CustomerStatusGUID`.
      pattern: ^cst_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
    ContractId:
      type: string
      description: Contract id. Prefix is a registry proposal; bridge `ProjectSubContractGUID`.
      pattern: ^ctr_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - ctr_01JB7Q4ZK3M8T5V2W9X6Y0CTR1
    ProjectTemplateId:
      type: string
      description: Project template id. Prefix is a registry proposal; two storage id spaces sit behind it (ED-036).
      pattern: ^ptl_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      - ED-036
      examples:
      - ptl_01JB7Q4ZK3M8T5V2W9X6Y0PT01
    ProjectTypeId:
      type: string
      description: Project type id. Prefix is a registry proposal; bridge `ProjectTypeGUID`.
      pattern: ^pty_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY1
    ProjectCategoryId:
      type: string
      description: Project category id. Prefix is a registry proposal; bridge `ProjectCategoryGUID`.
      pattern: ^pca_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - pca_01JB7Q4ZK3M8T5V2W9X6Y0PCA1
    ProjectStageId:
      type: string
      description: Project stage id. Prefix is a registry proposal; bridge `ProjectStageGUID`.
      pattern: ^pst_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - pst_01JB7Q4ZK3M8T5V2W9X6Y0PST1
    DepartmentId:
      type: string
      description: Department id. Prefix is a registry proposal; bridge `DepartmentGUID`.
      pattern: ^dep_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      examples:
      - dep_01JB7Q4ZK3M8T5V2W9X6Y0DEP1
    PaymentTermId:
      type: string
      description: Payment term id. Prefix is a registry proposal; the storage key is an int with no GUID (ED-036).
      pattern: ^ptm_[0-9A-HJKMNP-TV-Z]{26}$
      maxLength: 30
      x-open-decision:
      - ED-003
      - ED-008
      - ED-036
      examples:
      - ptm_01JB7Q4ZK3M8T5V2W9X6Y0PTM1
    EmployeeRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/EmployeeId'
    TaskRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/TaskId'
    ProjectRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ProjectId'
    AllocationRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/AllocationId'
    LegalEntityRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/LegalEntityId'
    InvoiceRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/InvoiceId'
    ContractRateRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ContractRateId'
    TimeEntryRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/TimeEntryId'
    CalendarEventRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/CalendarEventId'
    CustomerRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/CustomerId'
    ContactRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ContactId'
    CustomerStatusRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/CustomerStatusId'
    ContractRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ContractId'
    ProjectTemplateRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ProjectTemplateId'
    ProjectTypeRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ProjectTypeId'
    ProjectCategoryRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ProjectCategoryId'
    ProjectStageRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/ProjectStageId'
    DepartmentRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/DepartmentId'
    PaymentTermRef:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/PaymentTermId'
    TypedRef:
      type: object
      description: Polymorphic reference (P3 §2 rule 4). `type` is the snake_case object type, never a storage type code.
      required:
      - type
      - id
      properties:
        type:
          type: string
          examples:
          - time_entry
        id:
          type: string
    ExternalIdMap:
      type: object
      description: 'Namespaced external keys (FP-6): namespace → key. Several systems may each hold their own key on one record.
        Unique per (tenant, resource type, namespace). Namespace token `[a-z0-9-]{1,32}`, stable once used (P3 §3). Who may
        write a namespace: any credential with the write scope, audited (PD-051 (c)).'
      propertyNames:
        pattern: ^[a-z0-9-]{1,32}$
      additionalProperties:
        type: string
        minLength: 1
        maxLength: 255
      examples:
      - cadac: evt-2026-0903-0900-a17
    NamespaceToken:
      type: string
      description: Namespace token, same grammar as `external_id` namespaces (P3 §3).
      pattern: ^[a-z0-9-]{1,32}$
    ManagedBy:
      type:
      - object
      - 'null'
      description: Advisory system of record (P3 §8, PD-022 (b)). Set when a tenant admin declared an upstream system (by
        its `external_id` namespace) as owner of this resource type, optionally for a list of fields (empty = all writable
        fields). Writes to managed fields still succeed and return the warning `managed_by_upstream`. Read-only. `null` when
        no system of record is declared.
      required:
      - namespace
      - fields
      properties:
        namespace:
          $ref: '#/components/schemas/NamespaceToken'
        fields:
          type: array
          items:
            type: string
      examples:
      - namespace: crm
        fields:
        - name
        - account_manager
    Money:
      type: object
      description: Money (P3 §5). `amount` is a decimal string so no precision is lost; `currency` is ISO 4217.
      required:
      - amount
      - currency
      properties:
        amount:
          type: string
          pattern: ^-?[0-9]+(\.[0-9]+)?$
          examples:
          - '1250.00'
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          examples:
          - DKK
    ListMeta:
      type: object
      required:
      - next_cursor
      - has_more
      - tenant_id
      - as_of
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page; `null` on the last page.
        has_more:
          type: boolean
        tenant_id:
          $ref: '#/components/schemas/TenantId'
        as_of:
          type: string
          format: date-time
          description: Server time of the read (APG-610).
    Tombstone:
      type: object
      description: Minimal body of a deleted record returned by `GET /{id}` during the retention window (P5 §3); `404` after
        it. Retention floor ≥ 90 days is published only once backed (FP-4 (b), ED-007).
      required:
      - id
      - deleted_at
      - updated_at
      properties:
        id:
          type: string
        deleted_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        external_id:
          $ref: '#/components/schemas/ExternalIdMap'
      x-open-decision:
      - ED-007
      - ED-037
    Problem:
      type: object
      description: The one error shape for every status ≥ 400 (`application/problem+json`, RFC 9457 + `code`). Switch on `code`;
        an unknown `code` falls back to the class of `status`. Unknown fields must be tolerated.
      required:
      - type
      - title
      - status
      - code
      - detail
      - request_id
      - retryable
      properties:
        type:
          type: string
          format: uri-reference
          description: URI of the code's documentation page (one per `code`). Documentation host is open.
          x-open-decision:
          - ED-013
          - ED-006
        title:
          type: string
          description: Short stable summary of the code.
        status:
          type: integer
          minimum: 400
          maximum: 599
        code:
          type: string
          pattern: ^[a-z][a-z0-9_]*$
          description: Stable machine token. Open catalogue (new codes may be added within /v1).
        detail:
          type: string
          description: Request-specific, remedy-first English sentence. Never internal names or TLP error numbers.
        request_id:
          type: string
          description: Same value as the `Request-Id` header.
        retryable:
          type: boolean
          description: '`true` only when the same request may succeed later unchanged (writes: same `Idempotency-Key`).'
        errors:
          type: array
          description: Field-level problems (400 / 422 only), all returned together (P6 §4).
          items:
            $ref: '#/components/schemas/FieldError'
        context:
          type: object
          description: Typed object whose schema is fixed per `code` (see the `*Context` schemas).
          additionalProperties: true
    FieldError:
      type: object
      required:
      - pointer
      - code
      - message
      properties:
        pointer:
          type: string
          description: JSON Pointer into the body, or `query:<param>`, or `header:<name>`.
        code:
          type: string
          description: Field-level code.
          x-extensible-enum:
          - required
          - invalid_format
          - out_of_range
          - unknown_reference
          - read_only
          - create_only
          - too_long
          - not_allowed_value
        message:
          type: string
        constraint:
          type: object
          additionalProperties: true
    Warning:
      type: object
      description: Non-fatal outcome on a `2xx` (P8). Same catalogue rules as error codes.
      required:
      - code
      - detail
      properties:
        code:
          type: string
          pattern: ^[a-z][a-z0-9_]*$
        detail:
          type: string
        context:
          type: object
          additionalProperties: true
    MissingScopeContext:
      type: object
      required:
      - required_scopes
      properties:
        required_scopes:
          type: array
          items:
            type: string
    LicenceRequiredContext:
      type: object
      required:
      - module
      properties:
        module:
          type: string
          description: Public module name.
          x-extensible-enum:
          - outlook
          - resource_planning
          - crm
          - contract_model
    NotFoundContext:
      type: object
      properties:
        resource_type:
          type: string
        id:
          type: string
        external_ref:
          type: string
    DuplicateContext:
      type: object
      required:
      - matched_on
      - conflicting_resource
      properties:
        matched_on:
          type: string
          description: What collided. Fallback for an unknown value - treat as a generic duplicate and read `conflicting_resource`.
          x-extensible-enum:
          - external_id
          - number
          - natural_key
          - idempotency
          - calendar_event
        namespace:
          $ref: '#/components/schemas/NamespaceToken'
        conflicting_resource:
          $ref: '#/components/schemas/TypedRef'
    PeriodLockedContext:
      type: object
      required:
      - lock_kind
      - period
      properties:
        lock_kind:
          type: string
          x-extensible-enum:
          - registration
          - invoicing
          - approval
        period:
          type: object
          required:
          - start
          - end
          properties:
            id:
              type: string
              description: '`acp_` accounting period id where one exists (D5).'
            start:
              type: string
              format: date
            end:
              type: string
              format: date
    ResourceImmutableContext:
      type: object
      required:
      - reason
      properties:
        reason:
          type: string
          x-extensible-enum:
          - timesheet_closed
          - invoiced
          - closed_period
          - booked_invoice
          - settled_time
    RuleViolationContext:
      type: object
      required:
      - rule
      properties:
        rule:
          type: string
          description: Stable rule token (catalogued per resource).
    InvalidStateTransitionContext:
      type: object
      description: P8 class 7. `allowed_actions` lists the action names (without the colon) valid from `current_state`.
      required:
      - current_state
      - attempted_action
      - allowed_actions
      properties:
        current_state:
          type: string
        attempted_action:
          type: string
        allowed_actions:
          type: array
          items:
            type: string
    HasDependentsContext:
      type: object
      description: P8 class 8. Object types (snake_case) whose records still reference the one being deleted.
      required:
      - dependent_types
      properties:
        dependent_types:
          type: array
          minItems: 1
          items:
            type: string
    ManagedByUpstreamContext:
      type: object
      description: Context of the `managed_by_upstream` warning (P3 §8). The write succeeded.
      required:
      - namespace
      - fields
      properties:
        namespace:
          $ref: '#/components/schemas/NamespaceToken'
        fields:
          type: array
          items:
            type: string
    PreconditionFailedContext:
      type: object
      required:
      - current_etag
      properties:
        current_etag:
          type: string
    RateLimitedContext:
      type: object
      required:
      - limit_scope
      properties:
        limit_scope:
          type: string
          description: '`credential`, `tenant` or `tier:<name>`.'
        retry_after_seconds:
          type: integer
          minimum: 0
        quota:
          type: string
        resets_at:
[...]
