# GENERATED by scripts/build_phoenix_poc.py from the vault contract 'customers'. Do not edit.
openapi: 3.1.0
info:
  title: TimeLog API v1 - Customers
  version: 0.1.0-draft
  x-status: draft-for-freeze
  summary: Customers, suppliers and leads in one resource, keyed by your CRM or ERP id.
  description: 'The Customers surface of the TimeLog API (`/v1`). A CRM or ERP integration keeps one TimeLog customer per
    real-world party, keyed by its own id (`PUT /v1/customers/ext:{ns}:{key}`), finds customers by name or number (`q=`, `number=`),
    observes TimeLog-side edits through events, and repairs keys after an upstream merge (`:mark-merged`). Suppliers and leads
    are customers with a different `relationship`: a converting lead keeps its `cus_` id (PD-035).


    Conventions (ids, lists, errors, idempotency, rate limits, events) are the platform''s and are described once in the shared
    components. Status: **draft for freeze**. Elements tagged `x-open-decision` carry provisional values until the named decision
    is taken.'
  contact:
    name: TimeLog Developer Experience (integrations Product Owner)
  license:
    name: Proprietary (TimeLog A/S)
    identifier: LicenseRef-TimeLog-Proprietary
  x-derived-from:
  - TARGET_API_MODEL.md D1 (C-01 customers, C-03 customer-statuses); _work/S8b-D1-crm.md
  - _work/S5-cards-core.md C-01 (field list)
  - EVENT_CATALOG.md §2.1
  - _work/S4-traces/A1-create-customer.md (preconditions and effects)
  x-rulings-applied:
  - FP-1
  - FP-2
  - FP-3
  - FP-4
  - FP-5
  - FP-6
  - FP-7
  - D-007
  - PD-002
  - PD-010
  - PD-022
  - PD-031
  - PD-035
  - PD-038
  - PD-046
  - PD-051
  - PD-052
  - PD-059
servers:
- url: https://api.timelog.com
  description: Production
- url: https://api.sandbox.timelog.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Customers
  description: A party the tenant sells to, buys from or prospects (C-01). One resource for customers, suppliers and leads;
    the role is the derived, multi-valued `relationship`, set through the `customer_status` label (PD-035).
- name: Customer statuses
  description: The tenant's customer status labels (C-03), read-only. Use them to map a CRM lifecycle stage to a label and
    to learn which `relationship` and `status` a label implies. Required to create a customer.
paths:
  /v1/customers:
    get:
      operationId: listCustomers
      tags:
      - Customers
      summary: List or search customers
      description: 'Use to find customers by name, number, VAT number, role or status, or to page through all customers the
        credential may see. `q=` searches `name`, `number` and `external_id` keys with a business-key match first; `number=`
        is an exact lookup. Returns the compact projection by default (`fields=` selects more). There is no `updated_after`
        on this resource yet (ED-002): to detect changes, subscribe to the `customer.*` events or re-read. Losers of an upstream
        merge can be found with `merged_into=`.'
      x-requirements:
      - CAP-101
      - CAP-102
      - CAP-103
      - SC-01
      - SC-13
      - SC-41
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      x-open-decision:
      - ED-002
      - PD-059
      security:
      - bearerAuth:
        - customers:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/IncludeDeleted'
      - $ref: '#/components/parameters/Q'
      - name: status
        in: query
        description: Only customers whose status label is active or inactive (`status` is derived from the label).
        schema:
          type: string
          x-extensible-enum:
          - active
          - inactive
        example: active
      - name: relationship
        in: query
        description: Only customers with at least one of these roles (`in`). Fallback for an unknown value - ignore it.
        style: form
        explode: false
        schema:
          type: array
          maxItems: 3
          items:
            type: string
            x-extensible-enum:
            - customer
            - supplier
            - lead
        example:
        - lead
      - name: customer_status
        in: query
        description: Only customers with one of these status labels (`in` list of `cst_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/CustomerStatusId'
      - name: number
        in: query
        description: Exact customer number. Uniqueness is guaranteed only once ED-035 lands; until then several rows may match.
        schema:
          type: string
          maxLength: 50
        example: '10042'
        x-open-decision:
        - ED-035
      - name: vat_number
        in: query
        description: Exact VAT or company registration number, as stored.
        schema:
          type: string
          maxLength: 50
        example: DK12345678
      - name: merged_into
        in: query
        description: Only customers marked as merged into this survivor (SC-05).
        schema:
          $ref: '#/components/schemas/CustomerId'
      - name: sort
        in: query
        description: One sort key, `-` for descending; implicit `id` tiebreak (P4 §3). Ignored when `q` is present.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          - name
          - -name
          - number
          - -number
          default: name
      - name: expand
        in: query
        description: Replace these references in place with the full object (one level, P4 §5).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 3
          items:
            type: string
            enum:
            - customer_status
            - account_manager
            - merged_into
      responses:
        '200':
          description: A page of customers (compact projection unless `fields=` asks for more).
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
              examples:
                search_by_name:
                  summary: '`q=example` - two matches, ranked'
                  value:
                    data:
                    - id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                      name: Example Engineering ApS
                      number: '10042'
                      relationship:
                      - customer
                      status: active
                      updated_at: '2026-09-30T08:12:44Z'
                    - id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX02
                      name: Example Logistics A/S
                      number: '10057'
                      relationship:
                      - customer
                      - supplier
                      status: active
                      updated_at: '2026-09-12T13:01:09Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T07:00:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      operationId: createCustomer
      tags:
      - Customers
      summary: Create a customer, supplier or lead
      description: 'Use to create a customer when you do not key it on your own id; if you do, prefer `PUT /v1/customers/ext:{ns}:{key}`,
        which is safe to repeat. `customer_status` is required (TimeLog has no default label) and decides the `relationship`.
        With an active customer number series TimeLog assigns `number` and a client-supplied one is `422 number_assigned_by_series`;
        without a series, `number` is yours and a number already in use is `409 duplicate` (`matched_on: number`) once uniqueness
        is enforced (PD-031, ED-035). Runs the same validation and business rules as the TimeLog UI. Emits `customer.created`
        after commit. `Idempotency-Key` is optional and recommended. `?dry_run=true` previews the outcome.'
      x-requirements:
      - CAP-104
      - SC-01
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-028
      - ED-035
      - PD-059
      security:
      - bearerAuth:
        - customers:write
      parameters:
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
            examples:
              customer_with_series:
                summary: A customer in a tenant with a number series (no `number` sent)
                value:
                  name: Example Engineering ApS
                  customer_status:
                    id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
                  currency: DKK
                  vat_number: DK12345678
                  address:
                    street: Eksempelvej 1
                    postal_code: '1000'
                    city: Copenhagen
                    country: DK
                  account_manager:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  invoicing:
                    payment_term:
                      id: ptm_01JB7Q4ZK3M8T5V2W9X6Y0PTM1
                    calculate_vat: true
                    vat_rate: '25.00'
                  external_id:
                    crm: '4471'
      responses:
        '201':
          description: 'Created (or, with `dry_run=true`, what would be created, with a placeholder id and no number drawn).
            Replays of the same `Idempotency-Key` and body return the original outcome with `Idempotent-Replayed: true`.'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWriteResult'
              examples:
                created:
                  $ref: '#/components/examples/CustomerCreated'
                dry_run:
                  summary: '`dry_run=true`: placeholder id, no number drawn, nothing stored'
                  value:
                    id: cus_00000000000000000000000000
                    name: Example Engineering ApS
                    number: null
                    relationship:
                    - customer
                    customer_status:
                      id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
                    status: active
                    currency: DKK
                    vat_number: DK12345678
                    address:
                      street: Eksempelvej 1
                      postal_code: '1000'
                      city: Copenhagen
                      country: DK
                    account_manager:
                      id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                    merged_into: null
                    invoicing:
                      payment_term:
                        id: ptm_01JB7Q4ZK3M8T5V2W9X6Y0PTM1
                      calculate_vat: true
                      vat_rate: '25.00'
                    external_id:
                      crm: '4471'
                    managed_by: null
                    created_at: '2026-10-01T09:30:00Z'
                    updated_at: '2026-10-01T09:30:00Z'
                    deleted_at: null
                    warnings: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '409':
          $ref: '#/components/responses/CustomerCreateConflict'
        '422':
          $ref: '#/components/responses/CustomerUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/customers/ext:{ns}:{key}:
    get:
      operationId: getCustomerByExternalId
      tags:
      - Customers
      summary: Get a customer by your own key
      description: 'Use to resolve your CRM or ERP id to the TimeLog customer that holds it (FP-6). `404` means no customer
        holds `{ns}:{key}`: create it, or use the `PUT` on this path, which creates or updates.'
      x-requirements:
      - CAP-103
      - CAP-107
      - SC-01
      - SC-13
      - SC-46
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-open-decision:
      - PD-059
      security:
      - bearerAuth:
        - customers:read
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/ExternalKey'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/CustomerExpand'
      responses:
        '200':
          description: The customer that holds the key.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                crm_keyed:
                  $ref: '#/components/examples/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '404':
          $ref: '#/components/responses/CustomerNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      operationId: upsertCustomerByExternalId
      tags:
      - Customers
      summary: Create or update a customer by your own key
      description: The recommended CRM and ERP sync write (SC-01, SC-13). Creates the customer if no customer holds `{ns}:{key}`,
        otherwise updates it (FP-6). Idempotent without a key, so a crashed sync re-runs safely. The body is the full writable
        representation (same fields as create); on update, `number` is create-only (`422`, field code `create_only`). Any
        credential with `customers:write` may write any namespace; the writer is audited (PD-051 (c)). If the tenant declared
        another system of record for customers, the write still succeeds and returns the warning `managed_by_upstream` (PD-022).
        Send `If-Match` for two-way syncs (SC-07). `?dry_run=true` previews the outcome.
      x-requirements:
      - CAP-103
      - CAP-107
      - SC-01
      - SC-13
      - SC-46
      x-effects:
        effect: write
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-027
      - ED-028
      - ED-035
      - PD-059
      security:
      - bearerAuth:
        - customers:write
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/ExternalKey'
      - $ref: '#/components/parameters/IfMatch'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpsert'
            examples:
              crm_company:
                summary: A CRM company upserted under the CRM's key
                value:
                  name: Example Engineering ApS
                  customer_status:
                    id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
                  currency: DKK
                  vat_number: DK12345678
                  address:
                    street: Eksempelvej 1
                    postal_code: '1000'
                    city: Copenhagen
                    country: DK
                  account_manager:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
      responses:
        '200':
          description: Updated the customer that holds the key.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWriteResult'
              examples:
                updated_managed:
                  $ref: '#/components/examples/CustomerUpdatedManaged'
        '201':
          description: Created a new customer holding the key.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWriteResult'
              examples:
                created:
                  $ref: '#/components/examples/CustomerCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '409':
          $ref: '#/components/responses/CustomerUpsertConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/CustomerUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/customers/{id}:
    get:
      operationId: getCustomer
      tags:
      - Customers
      summary: Get one customer
      description: Use to resolve a `cus_` reference (from a project, an invoice or an event) or to re-read state after a
        `customer.*` event. Returns the full customer and its `ETag`. A deleted customer returns its tombstone within the
        retention window once deletes are captured (ED-037); until then, and after the window, `404`.
      x-requirements:
      - CAP-101
      - SC-07
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-037
      - PD-059
      security:
      - bearerAuth:
        - customers:read
      parameters:
      - $ref: '#/components/parameters/CustomerPathId'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/CustomerExpand'
      responses:
        '200':
          description: The customer, or its tombstone during the retention window once deletes are captured.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Customer'
                - $ref: '#/components/schemas/Tombstone'
              examples:
                customer:
                  $ref: '#/components/examples/Customer'
                tombstone:
                  summary: A deleted customer inside the retention window
                  value:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX03
                    deleted_at: '2026-09-20T11:00:00Z'
                    updated_at: '2026-09-20T11:00:00Z'
                    external_id:
                      crm: '4480'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '404':
          $ref: '#/components/responses/CustomerNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      operationId: updateCustomer
      tags:
      - Customers
      summary: Change some fields of a customer
      description: Use to change individual fields. Send only the fields to change; `null` clears a nullable field; omitted
        fields are untouched. Changing `customer_status` is how a lead becomes a customer (it emits `customer.status_changed`,
        and `relationship` follows the label). The tenant's own company cannot be moved to a non-customer label (`409 internal_customer_protected`).
        `number` is create-only; `relationship`, `status` and `merged_into` are read-only (`422 validation_failed`). Send
        `If-Match` for two-way syncs.
      x-requirements:
      - CAP-105
      - SC-07
      - SC-13
      x-effects:
        effect: write
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-027
      - ED-038
      - PD-059
      security:
      - bearerAuth:
        - customers:write
      parameters:
      - $ref: '#/components/parameters/CustomerPathId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPatch'
            examples:
              convert_lead:
                summary: Convert a lead into a customer by changing its label
                value:
                  customer_status:
                    id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
      responses:
        '200':
          description: The customer after the change.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWriteResult'
              examples:
                converted:
                  summary: The former lead, now a customer
                  value:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX04
                    name: Example Robotics ApS
                    number: '10061'
                    relationship:
                    - customer
                    customer_status:
                      id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
                    status: active
                    currency: DKK
                    vat_number: null
                    address: null
                    account_manager:
                      id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                    merged_into: null
                    invoicing:
                      payment_term: null
                      calculate_vat: true
                      vat_rate: '25.00'
                    external_id:
                      crm: '4502'
                    managed_by: null
                    created_at: '2026-08-14T10:00:00Z'
                    updated_at: '2026-10-01T09:45:10Z'
                    deleted_at: null
                    warnings: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '404':
          $ref: '#/components/responses/CustomerNotFound'
        '409':
          $ref: '#/components/responses/CustomerUpdateConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/CustomerUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      operationId: deleteCustomer
      tags:
      - Customers
      summary: Delete a customer that nothing references
      description: Use to remove a customer created by mistake. Allowed only when no projects, invoices or other records reference
        it (`409 has_dependents` lists their types); a customer with history is retired by moving it to an inactive label
        with `PATCH` instead, or by `:mark-merged` after an upstream merge (PD-010). Deleting an already-deleted customer
        returns `204` (FP-4). Emits `customer.deleted`; the tombstone stays readable through `GET` for the retention window
        once deletes are captured (ED-037).
      x-requirements:
      - CAP-106
      - SC-02
      x-effects:
        effect: destructive
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-037
      - PD-059
      security:
      - bearerAuth:
        - customers:write
      parameters:
      - $ref: '#/components/parameters/CustomerPathId'
      - $ref: '#/components/parameters/IfMatch'
      responses:
        '204':
          description: Deleted (or already deleted). No body.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '404':
          $ref: '#/components/responses/CustomerNotFound'
        '409':
          $ref: '#/components/responses/CustomerDeleteConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/customers/{id}:mark-merged:
    post:
      operationId: markCustomerMerged
      tags:
      - Customers
      summary: Mark a customer as merged into a survivor
      description: 'Use after your CRM or ERP merged two parties that both exist in TimeLog (SC-05). Sets the read-only `merged_into`
        on this customer (the loser) and moves it to the inactive label you name. Nothing else moves: projects, invoices and
        history stay on the loser, and your keys move separately with `POST /v1/links/{id}:move` (D11). This is the documented
        workaround of PD-046 (a), not a product merge. Preconditions: `into` exists, is not this customer and is not itself
        merged (`422 rule_violation`, `rule: merge_target_invalid`); `customer_status` is an inactive label. Repeating the
        call with the same `into` is a no-op `200`. Emits `customer.merged`.'
      x-requirements:
      - CAP-109
      - SC-05
      x-effects:
        effect: destructive
        idempotent: true
        idempotency: key_optional
      x-open-decision:
      - ED-050
      - APG-601
      - PD-059
      security:
      - bearerAuth:
        - customers:write
      parameters:
      - $ref: '#/components/parameters/CustomerPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerMarkMerged'
            examples:
              merge_duplicate:
                summary: Mark the duplicate as merged into the survivor
                value:
                  into:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  customer_status:
                    id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST3
      responses:
        '200':
          description: The loser after the mark (or unchanged, when it was already merged into the same survivor).
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWriteResult'
              examples:
                merged:
                  summary: The loser now points at the survivor
                  value:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX05
                    name: Example Engineering
                    number: '10088'
                    relationship: []
                    customer_status:
                      id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST3
                    status: inactive
                    currency: DKK
                    vat_number: DK12345678
                    address: null
                    account_manager: null
                    merged_into:
                      id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                    invoicing:
                      payment_term: null
                      calculate_vat: true
                      vat_rate: '25.00'
                    external_id:
                      crm: 4471-dup
                    managed_by: null
                    created_at: '2026-09-02T12:00:00Z'
                    updated_at: '2026-10-01T10:02:31Z'
                    deleted_at: null
                    warnings: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '404':
          $ref: '#/components/responses/CustomerNotFound'
        '409':
          $ref: '#/components/responses/CustomerMergeConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/CustomerMergeUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/customer-statuses:
    get:
      operationId: listCustomerStatuses
      tags:
      - Customer statuses
      summary: List customer status labels
      description: 'Use to pick the `customer_status` for a create, or to map your CRM lifecycle stages (lead, customer, former
        customer) to TimeLog labels. Small list: fetch it whole. Read-only; labels are tenant configuration. Snapshot-only:
        a removed label disappears (P5 §3 (ii)).'
      x-requirements:
      - CAP-117
      - SC-01
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      security:
      - bearerAuth:
        - customers:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - name: status
        in: query
        description: Only active or only inactive labels.
        schema:
          type: string
          x-extensible-enum:
          - active
          - inactive
        example: active
      - name: relationship
        in: query
        description: Only labels implying at least one of these roles (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 3
          items:
            type: string
            x-extensible-enum:
            - customer
            - supplier
            - lead
        example:
        - customer
      - name: sort
        in: query
        description: One sort key, `-` for descending; implicit `id` tiebreak (P4 §3).
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          - name
          - -name
          default: name
      responses:
        '200':
          description: A page of customer status labels.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStatusList'
              examples:
                tenant_labels:
                  summary: A tenant's labels
                  value:
                    data:
                    - id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
                      name: Customer
                      relationship:
                      - customer
                      status: active
                      is_default: true
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    - id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST2
                      name: Prospect
                      relationship:
                      - lead
                      status: active
                      is_default: false
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2025-03-02T09:00:00Z'
                    - id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST3
                      name: Former customer
                      relationship: []
                      status: inactive
                      is_default: false
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    - id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST4
                      name: Partner
                      relationship:
                      - customer
                      - supplier
                      status: active
                      is_default: false
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T07:00:02Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/customer-statuses/{id}:
    get:
      operationId: getCustomerStatus
      tags:
      - Customer statuses
      summary: Get one customer status label
      description: Use to resolve a `cst_` reference from a customer body (P3 §2, SC-43).
      x-requirements:
      - CAP-117
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - customers:read
      parameters:
      - name: id
        in: path
        required: true
        description: The status label id (`cst_…`). Not pattern-checked, so any other prefix is `404` (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST2
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The label.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStatus'
              examples:
                lead_label:
                  summary: A label that makes a customer a lead
                  value:
                    id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST2
                    name: Prospect
                    relationship:
                    - lead
                    status: active
                    is_default: false
                    created_at: '2024-01-10T08:00:00Z'
                    updated_at: '2025-03-02T09:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/CustomersForbidden'
        '404':
          $ref: '#/components/responses/CustomerStatusNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
webhooks:
  customer.created:
    post:
      operationId: onCustomerCreated
      summary: A customer, supplier or lead now exists
      description: Emitted after commit for creates through `/v1` and the TimeLog manager paths. Some legacy write paths do
        not emit yet (ED-049, ED-028); see the README. `related[]` carries the account manager when set.
      x-requirements:
      - SC-07
      - SC-40
      x-open-decision:
      - ED-028
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
            examples:
              created:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0EV11
                  type: customer.created
                  occurred_at: '2026-10-01T09:30:01Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  related:
                  - type: employee
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  customer.updated:
    post:
      operationId: onCustomerUpdated
      summary: Public customer fields changed
      description: 'Any public field changed, including the embedded `invoicing`. Not emitted for a pure label change (that
        is `customer.status_changed`) or a merge mark (`customer.merged`). No field list: GET and compare.'
      x-requirements:
      - SC-07
      - SC-13
      - SC-40
      x-open-decision:
      - ED-028
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
            examples:
              updated:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0EV12
                  type: customer.updated
                  occurred_at: '2026-10-01T09:40:00Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  related:
                  - type: employee
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  customer.status_changed:
    post:
      operationId: onCustomerStatusChanged
      summary: The customer's status label changed
      description: Includes lead → customer conversion; `relationship` follows the label. GET the customer for the new label.
      x-requirements:
      - SC-40
      x-open-decision:
      - ED-028
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
            examples:
              converted:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0EV13
                  type: customer.status_changed
                  occurred_at: '2026-10-01T09:45:10Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX04
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  customer.merged:
    post:
      operationId: onCustomerMerged
      summary: A customer was marked as merged into a survivor
      description: Emitted only by `:mark-merged`. `related[]` carries the survivor (PD-046).
      x-requirements:
      - SC-05
      x-open-decision:
      - ED-050
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
            examples:
              merged:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0EV14
                  type: customer.merged
                  occurred_at: '2026-10-01T10:02:31Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX05
                  related:
                  - type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  customer.deleted:
    post:
      operationId: onCustomerDeleted
      summary: A customer was deleted
      description: A `GET` returns the tombstone within the retention window once deletes are captured (ED-037), else `404`.
      x-requirements:
      - SC-02
      - SC-40
      x-open-decision:
      - ED-037
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
            examples:
              deleted:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0EV15
                  type: customer.deleted
                  occurred_at: '2026-09-20T11:00:00Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX03
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer credential of a service account bound to an `api_user` employee (D-007) or a personal access token
        (P2 §A). The tenant comes from the credential only. Effective permission = scope ∩ privilege ∩ licence ∩ row scope
        (P2 §B). Security requirements list the required `<family>:<access>` scopes as role names (OpenAPI 3.1 §4.8.30). Token
        mechanism: service accounts ED-019, PATs on the public host ED-004.'
      x-open-decision:
      - ED-019
      - ED-004
      x-scopes:
        time:read: Read time entries, timesheets and calendar events.
        time:write: Create and change time entries.
        planning:read: Read allocations, bookings and capacity views.
        planning:write: Set booking shares and change allocations.
        costs:read: Sensitive (PD-012). Cost and revenue fields; omitted from bodies when absent.
        customers:read: Read customers, their status labels and (when shipped) contacts.
        customers:write: Create, change, merge-mark and delete customers.
        projects:read: Read projects, project templates and project reference lists (types, categories, stages).
        projects:write: Create projects (blank or from a template), change them, move them through their lifecycle and delete
          them.
  parameters:
    CustomerPathId:
      name: id
      in: path
      required: true
      description: The customer id (`cus_…`). Deliberately not pattern-checked, so any other prefix is `404 not_found`, never
        `400` (P3 §2 rule 3).
      schema:
        type: string
        minLength: 1
        maxLength: 64
      example: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
    Namespace:
      name: ns
      in: path
      required: true
      description: Your namespace token (`[a-z0-9-]`, 1-32 chars, stable once used), e.g. `crm` or `erp`.
      schema:
        $ref: '#/components/schemas/NamespaceToken'
      example: crm
    ExternalKey:
      name: key
      in: path
      required: true
      description: Your key within the namespace (URL-encoded).
      schema:
        type: string
        minLength: 1
        maxLength: 255
      example: '4471'
    CustomerExpand:
      name: expand
      in: query
      description: Replace these references in place with the full object (one level, P4 §5).
      style: form
      explode: false
      schema:
        type: array
        maxItems: 3
        items:
          type: string
          enum:
          - customer_status
          - account_manager
          - merged_into
    Limit:
      name: limit
      in: query
      required: false
      description: Page size. Default 50, maximum 100 (P4 §1 starting values). Above the maximum is `400 malformed_request`,
        never silently clamped.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque `meta.next_cursor` from the previous page (P4 §1). Send it with no other parameter changed, or the
        response is `400 invalid_cursor`. Cursor lifetime is a published service window (PD-052); an expired cursor is `400
        invalid_cursor`.
      schema:
        type: string
        maxLength: 2048
      x-open-decision:
      - PD-052
      - ED-011
    Fields:
      name: fields
      in: query
      required: false
      description: Comma-separated top-level fields to return (`id` always included); dotted paths select inside an expanded
        reference (P4 §4).
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          pattern: ^[a-z][a-z0-9_]*(\.[a-z][a-z0-9_]*)?$
        maxItems: 50
    IdFilter:
      name: id
      in: query
      required: false
      description: Only these ids (`in`, comma-separated, max 100) (P4 §2 global set).
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
        maxItems: 100
    CreatedAfter:
      name: created_after
      in: query
      required: false
      description: Only rows created strictly after this instant (P4 §2 global set).
      schema:
        type: string
        format: date-time
    CreatedBefore:
      name: created_before
      in: query
      required: false
      description: Only rows created at or before this instant (P4 §2 global set).
      schema:
        type: string
        format: date-time
    IncludeDeleted:
      name: include_deleted
      in: query
      required: false
      description: '`true` adds soft-deleted rows (tombstones) within the retention window (FP-4, P5 §3). Resources whose
        delete strategy is snapshot-only return no tombstones; their reference page says so.'
      schema:
        type: boolean
        default: false
    IdempotencyKeyRequired:
      name: Idempotency-Key
      in: header
      required: true
      description: 'Client-generated key (≤ 255 chars, UUID recommended) making this write safe to retry (P6 §1). Required
        here because a duplicate costs money, pay or approval. Same key + same body → original outcome replayed with `Idempotent-Replayed:
        true`; same key + different body → `409 idempotency_key_reused`; still in flight → `409 idempotency_request_in_progress`.
        Missing → `400 validation_failed` (`pointer: header:Idempotency-Key`). Key retention is a published service window
        with a floor of 24 h (PD-052).'
      schema:
        type: string
        minLength: 1
        maxLength: 255
      example: 6f1c2b9e-3a47-4d0c-9a51-2f8e7d1c4b10
      x-open-decision:
      - PD-052
    IdempotencyKeyOptional:
      name: Idempotency-Key
      in: header
      required: false
      description: Optional, recommended on retries (P6 §1). Same replay semantics as where it is required. Retention per
        PD-052.
      schema:
        type: string
        minLength: 1
        maxLength: 255
      example: 0b8d4f3a-91e2-4c67-8f1d-5a2c3e9b7d64
      x-open-decision:
      - PD-052
    IfMatch:
      name: If-Match
      in: header
      required: false
      description: Write only if the resource's current `ETag` equals this value; otherwise `412 precondition_failed` and
        nothing is written (P6 §3). Optional; omitting it is last-write-wins.
      schema:
        type: string
    DryRun:
      name: dry_run
      in: query
      required: false
      description: '`true` runs the same authorization, validation and business rules and returns what the real call would
        return (status, body with a placeholder id, `warnings[]`, or the same error) with no side effects: nothing stored,
        no events, no id reserved, no idempotency record (P6 §5).'
      schema:
        type: boolean
        default: false
    Q:
      name: q
      in: query
      required: false
      description: 'Free-text search over the resource''s declared search fields (its reference page lists them), case- and
        accent-insensitive, minimum 2 characters (P4 §6). Deterministic ranking: exact business-key match (number, external
        key, email) first, then name prefix, then contained term; ties by `id`. `sort` is ignored when `q` is present. Search
        obeys row scope. If an index serves it, `meta.as_of` reflects the index''s freshness.'
      schema:
        type: string
        minLength: 2
        maxLength: 200
      x-open-decision:
      - ED-040
  responses:
    CustomersForbidden:
      description: 'The credential may not perform this operation (P8 class 2): `missing_scope` (context `required_scopes`),
        `insufficient_privilege` (the bound employee lacks the customer privilege, or holds only the account-manager scope
        and the customer is not theirs on a write), `licence_required` (context `module: crm`). Whether `/v1/customers` requires
        the CRM module is PD-059: the code is declared now so that a gate, if ruled, is not a breaking change (FP-3). A customer
        outside the row scope is `404`, never `403`.'
      x-error-codes:
      - missing_scope
      - insufficient_privilege
      - licence_required
      x-context-by-code:
        missing_scope: ../_shared/components.yaml#/components/schemas/MissingScopeContext
        licence_required: ../_shared/components.yaml#/components/schemas/LicenceRequiredContext
      x-open-decision:
      - PD-059
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  anyOf:
                  - $ref: '#/components/schemas/MissingScopeContext'
                  - $ref: '#/components/schemas/LicenceRequiredContext'
          examples:
            missing_scope:
              value:
                type: /errors/missing_scope
                title: Missing scope
                status: 403
                code: missing_scope
                detail: This credential lacks the scope 'customers:write'. Ask a tenant admin to add it to the credential.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C001
                retryable: false
                context:
                  required_scopes:
                  - customers:write
            insufficient_privilege:
              value:
                type: /errors/insufficient_privilege
                title: Insufficient privilege
                status: 403
                code: insufficient_privilege
                detail: The employee bound to this credential may not create customers. Ask a tenant admin to grant the customer
                  privilege.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C002
                retryable: false
            licence_required:
              value:
                type: /errors/licence_required
                title: Licence required
                status: 403
                code: licence_required
                detail: This operation needs the CRM module, which this tenant does not have.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C003
                retryable: false
                context:
                  module: crm
    CustomerNotFound:
      description: 'No such customer, or it is outside the caller''s row scope; the two are byte-identical (P8 class 3). A
        wrong id prefix is also `404`. For an `ext:` lookup: no customer holds the key.'
      x-error-codes:
      - not_found
      x-context-by-code:
        not_found: ../_shared/components.yaml#/components/schemas/NotFoundContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/NotFoundContext'
          examples:
            by_id:
              value:
                type: /errors/not_found
                title: Not found
                status: 404
                code: not_found
                detail: No customer with this id is visible to this credential.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C004
                retryable: false
                context:
                  resource_type: customer
                  id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX09
            by_external_id:
              value:
                type: /errors/not_found
                title: Not found
                status: 404
                code: not_found
                detail: No customer holds the key 'crm:4999'. Create it with PUT on the same path.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C005
                retryable: false
                context:
                  resource_type: customer
                  external_ref: crm:4999
    CustomerStatusNotFound:
      description: No such customer status label (P8 class 3). A wrong id prefix is also `404`.
      x-error-codes:
      - not_found
      x-context-by-code:
        not_found: ../_shared/components.yaml#/components/schemas/NotFoundContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/NotFoundContext'
          example:
            type: /errors/not_found
            title: Not found
            status: 404
            code: not_found
            detail: No customer status with this id exists in this tenant.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C006
            retryable: false
            context:
              resource_type: customer_status
              id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST9
    CustomerCreateConflict:
      description: '`duplicate`: `matched_on: external_id` (another customer already holds a key in `external_id`; use `PUT
        ext:` to upsert) or `matched_on: number` (the number is in use; enforced once ED-035 adds the constraint, PD-031).
        `idempotency_key_reused` (same key, different body), `idempotency_request_in_progress` (retryable).'
      x-error-codes:
      - duplicate
      - idempotency_key_reused
      - idempotency_request_in_progress
      x-context-by-code:
        duplicate: ../_shared/components.yaml#/components/schemas/DuplicateContext
      x-open-decision:
      - ED-035
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/DuplicateContext'
          examples:
            duplicate_number:
              value:
                type: /errors/duplicate
                title: Duplicate
                status: 409
                code: duplicate
                detail: Customer number 10042 is already used by customer cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01. Use that customer
                  or choose another number.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C007
                retryable: false
                context:
                  matched_on: number
                  conflicting_resource:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
            duplicate_external_id:
              value:
                type: /errors/duplicate
                title: Duplicate
                status: 409
                code: duplicate
                detail: The key 'crm:4471' is already held by customer cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01. Use PUT /v1/customers/ext:crm:4471
                  to update it.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C008
                retryable: false
                context:
                  matched_on: external_id
                  namespace: crm
                  conflicting_resource:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
            idempotency_key_reused:
              value:
                type: /errors/idempotency_key_reused
                title: Idempotency key reused
                status: 409
                code: idempotency_key_reused
                detail: This Idempotency-Key was used with a different body. Send a new key for a new request.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C009
                retryable: false
            idempotency_request_in_progress:
              value:
                type: /errors/idempotency_request_in_progress
                title: Request in progress
                status: 409
                code: idempotency_request_in_progress
                detail: A request with this Idempotency-Key is still being processed. Retry in a few seconds.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C010
                retryable: true
    CustomerUpsertConflict:
      description: 'On the create branch: `duplicate` (`matched_on: number`, once ED-035 lands; or `matched_on: external_id`
        when another key in the body is held by a different customer). On the update branch: `internal_customer_protected`
        (the tenant''s own company cannot move to a non-customer label).'
      x-error-codes:
      - duplicate
      - internal_customer_protected
      x-context-by-code:
        duplicate: ../_shared/components.yaml#/components/schemas/DuplicateContext
        internal_customer_protected: ../_shared/components.yaml#/components/schemas/RuleViolationContext
      x-open-decision:
      - ED-035
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  anyOf:
                  - $ref: '#/components/schemas/DuplicateContext'
                  - $ref: '#/components/schemas/RuleViolationContext'
          examples:
            duplicate_number:
              value:
                type: /errors/duplicate
                title: Duplicate
                status: 409
                code: duplicate
                detail: Customer number 10042 is already used by customer cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01. Link your key to
                  that customer instead.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C011
                retryable: false
                context:
                  matched_on: number
                  conflicting_resource:
                    type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
            internal_customer_protected:
              $ref: '#/components/examples/InternalCustomerProtected'
    CustomerUpdateConflict:
      description: '`internal_customer_protected`: the tenant''s own company cannot move to a non-customer label (context
        `rule: internal_customer_status`).'
      x-error-codes:
      - internal_customer_protected
      x-context-by-code:
        internal_customer_protected: ../_shared/components.yaml#/components/schemas/RuleViolationContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/RuleViolationContext'
          examples:
            internal_customer_protected:
              $ref: '#/components/examples/InternalCustomerProtected'
    CustomerDeleteConflict:
      description: '`has_dependents`: projects, invoices or other records still reference the customer (the twelve legacy
        delete guards). Retire it with an inactive label (`PATCH`) or `:mark-merged` instead (PD-010).'
      x-error-codes:
      - has_dependents
      x-context-by-code:
        has_dependents: ../_shared/components.yaml#/components/schemas/HasDependentsContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/HasDependentsContext'
          examples:
            has_dependents:
              value:
                type: /errors/has_dependents
                title: Has dependents
                status: 409
                code: has_dependents
                detail: The customer has projects and invoices, so it cannot be deleted. Move it to an inactive status label
                  instead.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C012
                retryable: false
                context:
                  dependent_types:
                  - project
                  - invoice
    CustomerMergeConflict:
      description: '`internal_customer_protected` (the tenant''s own company cannot be marked as merged), `idempotency_key_reused`,
        `idempotency_request_in_progress` (retryable).'
      x-error-codes:
      - internal_customer_protected
      - idempotency_key_reused
      - idempotency_request_in_progress
      x-context-by-code:
        internal_customer_protected: ../_shared/components.yaml#/components/schemas/RuleViolationContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/RuleViolationContext'
          examples:
            internal_customer_protected:
              $ref: '#/components/examples/InternalCustomerProtected'
            idempotency_request_in_progress:
              value:
                type: /errors/idempotency_request_in_progress
                title: Request in progress
                status: 409
                code: idempotency_request_in_progress
                detail: A request with this Idempotency-Key is still being processed. Retry in a few seconds.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C013
                retryable: true
            idempotency_key_reused:
              value:
                type: /errors/idempotency_key_reused
                title: Idempotency key reused
                status: 409
                code: idempotency_key_reused
                detail: This Idempotency-Key was used with a different body. Send a new key for a new request.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C014
                retryable: false
    CustomerUnprocessable:
      description: 'The request is invalid whatever the state. `validation_failed` with all field problems in `errors[]` (`required`:
        `name`, `customer_status`; `unknown_reference` for a label, employee or payment term that does not exist or is not
        visible; `invalid_format` on `currency` or `address.country`; `create_only` on `number` in an update; `read_only`
        on `relationship`, `status`, `merged_into`). `number_assigned_by_series`: a number was sent while the tenant''s customer
        number series is active (PD-031).'
      x-error-codes:
      - validation_failed
      - number_assigned_by_series
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            validation_failed:
              value:
                type: /errors/validation_failed
                title: Validation failed
                status: 422
                code: validation_failed
                detail: Two fields are invalid. Correct them and send the request again.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C015
                retryable: false
                errors:
                - pointer: /customer_status
                  code: required
                  message: A customer status label is required; list them with GET /v1/customer-statuses.
                - pointer: /status
                  code: read_only
                  message: status is derived from the customer status label.
            number_assigned_by_series:
              value:
                type: /errors/number_assigned_by_series
                title: Number assigned by series
                status: 422
                code: number_assigned_by_series
                detail: This tenant assigns customer numbers from a number series. Omit number; TimeLog returns the assigned
                  one.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C016
                retryable: false
                errors:
                - pointer: /number
                  code: not_allowed_value
                  message: Numbers are assigned by the tenant's customer number series.
    CustomerMergeUnprocessable:
      description: '`rule_violation` with `rule: merge_target_invalid` (`into` is this customer, is itself merged, or this
        customer is already merged into a different survivor). `validation_failed` (`unknown_reference` on `into` or `customer_status`;
        `not_allowed_value` when `customer_status` is an active label).'
      x-error-codes:
      - rule_violation
      - validation_failed
      x-context-by-code:
        rule_violation: ../_shared/components.yaml#/components/schemas/RuleViolationContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                context:
                  $ref: '#/components/schemas/RuleViolationContext'
          examples:
            merge_target_invalid:
              value:
                type: /errors/rule_violation
                title: Rule violation
                status: 422
                code: rule_violation
                detail: The survivor cus_01JB7Q4ZK3M8T5V2W9X6Y0CX06 is itself merged into another customer. Mark the duplicate
                  as merged into the final survivor.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C017
                retryable: false
                context:
                  rule: merge_target_invalid
            active_label:
              value:
                type: /errors/validation_failed
                title: Validation failed
                status: 422
                code: validation_failed
                detail: A merged customer must get an inactive status label.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C018
                retryable: false
                errors:
                - pointer: /customer_status/id
                  code: not_allowed_value
                  message: The label 'Customer' is active; choose an inactive label.
    BadRequest:
      description: 'The request cannot be parsed or uses a parameter this operation does not declare (P8 class 4). Codes:
        `malformed_request`, `unknown_parameter` (e.g. `updated_after` on a resource whose incremental-sync gate is closed,
        P5 §2), `invalid_cursor`, `validation_failed` (missing required `Idempotency-Key`).'
      x-error-codes:
      - malformed_request
      - unknown_parameter
      - invalid_cursor
      - validation_failed
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            unknown_parameter:
              value:
                type: /errors/unknown_parameter
                title: Unknown query parameter
                status: 400
                code: unknown_parameter
                detail: The parameter 'updated_after' is not supported on this list. Remove it and re-read the window; incremental
                  sync is not yet offered for this resource.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ2
                retryable: false
                errors:
                - pointer: query:updated_after
                  code: not_allowed_value
                  message: Not a declared parameter of this operation.
            invalid_cursor:
              value:
                type: /errors/invalid_cursor
                title: Invalid cursor
                status: 400
                code: invalid_cursor
                detail: The cursor is expired or was combined with changed parameters. Restart the listing without a cursor.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ3
                retryable: false
    Unauthenticated:
      description: No valid credential (P8 class 1). Never says whether a credential exists. Re-mint or refresh; do not retry
        unchanged.
      x-error-codes:
      - unauthenticated
      - token_expired
      - token_revoked
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        WWW-Authenticate:
          description: Bearer challenge.
          schema:
            type: string
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/unauthenticated
            title: Authentication required
            status: 401
            code: unauthenticated
            detail: Send a valid bearer credential in the Authorization header.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ4
            retryable: false
    Forbidden:
      description: 'The credential may not perform this operation (P8 class 2): `missing_scope` (context `required_scopes`),
        `insufficient_privilege`, `licence_required` / `feature_disabled` (context `module`). A record outside the caller''s
        row scope is `404`, never `403`.'
      x-error-codes:
      - missing_scope
      - insufficient_privilege
      - licence_required
      - feature_disabled
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            missing_scope:
              value:
                type: /errors/missing_scope
                title: Missing scope
                status: 403
                code: missing_scope
                detail: This credential lacks the scope 'time:read'. Ask a tenant admin to add it to the credential.
                request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ5
                retryable: false
                context:
                  required_scopes:
                  - time:read
    NotFound:
      description: No such resource, or it exists outside the caller's row scope or tenant; the two are byte-identical (P8
        class 3, row-scope rule). A wrong id prefix is also `404` (P3 §2).
      x-error-codes:
      - not_found
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/not_found
            title: Not found
            status: 404
            code: not_found
            detail: No calendar event with this id is visible to this credential.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ6
            retryable: false
            context:
              resource_type: calendar_event
              id: cev_01JB7Q4ZK3M8T5V2W9X6Y0CEV9
    PreconditionFailed:
      description: '`If-Match` did not match the current `ETag`; nothing was written (P8 class 5). Re-read, re-apply, retry
        with the new value.'
      x-error-codes:
      - precondition_failed
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/precondition_failed
            title: Precondition failed
            status: 412
            code: precondition_failed
            detail: The resource changed since you read it. Read it again and re-apply your change.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ7
            retryable: false
            context:
              current_etag: '"b3a1f0"'
    RateLimited:
      description: 'A rate limit or quota was exceeded (P8 class 9, P9). Wait `Retry-After`; `retryable: true`.'
      x-error-codes:
      - rate_limited
      - quota_exceeded
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/rate_limited
            title: Rate limited
            status: 429
            code: rate_limited
            detail: This credential exceeded its request rate. Retry after 12 seconds.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ8
            retryable: true
            context:
              limit_scope: credential
              retry_after_seconds: 12
    InternalError:
      description: Transient server error (P8 class 11). `retryable` states whether the same request may be retried; writes
        retry only with the same `Idempotency-Key`. `context.outcome` is `not_applied` or `unknown` on writes.
      x-error-codes:
      - internal_error
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/internal_error
            title: Internal error
            status: 500
            code: internal_error
            detail: An unexpected error occurred. Retry with the same Idempotency-Key; quote the request id if it persists.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0REQ9
            retryable: true
            context:
              outcome: unknown
    ServiceUnavailable:
      description: 'A dependency or the service is unavailable (P8 classes 10-11): `dependency_unavailable` (context `capability`,
        a public capability name, and `outcome`), `service_unavailable`. Retry after `Retry-After`; writes with `outcome:
        unknown` retry with the same `Idempotency-Key`.'
      x-error-codes:
      - dependency_unavailable
      - service_unavailable
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: /errors/service_unavailable
            title: Service unavailable
            status: 503
            code: service_unavailable
            detail: The service is temporarily overloaded. Retry after 30 seconds.
            request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0RE10
            retryable: true
  examples:
    Customer:
      summary: A CRM-keyed customer
      value:
        id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
        name: Example Engineering ApS
        number: '10042'
        relationship:
        - customer
        customer_status:
          id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
        status: active
        currency: DKK
        vat_number: DK12345678
        address:
          street: Eksempelvej 1
          postal_code: '1000'
          city: Copenhagen
          country: DK
        account_manager:
          id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
        merged_into: null
        invoicing:
          payment_term:
            id: ptm_01JB7Q4ZK3M8T5V2W9X6Y0PTM1
          calculate_vat: true
          vat_rate: '25.00'
        external_id:
          crm: '4471'
          erp: D-20391
        managed_by:
          namespace: crm
          fields: []
        created_at: '2026-10-01T09:30:00Z'
        updated_at: '2026-10-01T09:40:00Z'
        deleted_at: null
    CustomerCreated:
      summary: Created; the number came from the tenant's series
      value:
        id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
        name: Example Engineering ApS
        number: '10042'
        relationship:
        - customer
        customer_status:
          id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
        status: active
        currency: DKK
        vat_number: DK12345678
        address:
          street: Eksempelvej 1
          postal_code: '1000'
          city: Copenhagen
          country: DK
        account_manager:
          id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
        merged_into: null
        invoicing:
          payment_term:
            id: ptm_01JB7Q4ZK3M8T5V2W9X6Y0PTM1
          calculate_vat: true
          vat_rate: '25.00'
        external_id:
          crm: '4471'
        managed_by: null
        created_at: '2026-10-01T09:30:00Z'
        updated_at: '2026-10-01T09:30:00Z'
        deleted_at: null
        warnings: []
    CustomerUpdatedManaged:
      summary: Updated by an ERP connector while the CRM is the declared system of record
      value:
        id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
        name: Example Engineering ApS
        number: '10042'
        relationship:
        - customer
        customer_status:
          id: cst_01JB7Q4ZK3M8T5V2W9X6Y0CST1
        status: active
        currency: DKK
        vat_number: DK12345678
        address:
          street: Eksempelvej 1
          postal_code: '1000'
          city: Copenhagen
          country: DK
        account_manager:
          id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
        merged_into: null
        invoicing:
          payment_term:
            id: ptm_01JB7Q4ZK3M8T5V2W9X6Y0PTM1
          calculate_vat: true
          vat_rate: '25.00'
        external_id:
          crm: '4471'
          erp: D-20391
        managed_by:
          namespace: crm
          fields: []
        created_at: '2026-10-01T09:30:00Z'
        updated_at: '2026-10-01T09:40:00Z'
        deleted_at: null
        warnings:
        - code: managed_by_upstream
          detail: Customers in this tenant are managed by the 'crm' system; your change was applied and may be overwritten
            by it.
          context:
            namespace: crm
            fields:
            - name
            - address
    InternalCustomerProtected:
      value:
        type: /errors/internal_customer_protected
        title: Internal customer protected
        status: 409
        code: internal_customer_protected
        detail: This customer is your own company and must keep a customer status label.
        request_id: req_01JB7Q4ZK3M8T5V2W9X6Y0C019
        retryable: false
        context:
          rule: internal_customer_status
  schemas:
    Customer:
      type: object
      description: 'A party the tenant sells to, buys from or prospects. One record per party; its role is `relationship`.
        Row scope: the bound employee''s customer privileges (all customers, or those where they are account manager).'
      required:
      - id
      - name
      - number
      - relationship
      - customer_status
      - status
      - currency
      - vat_number
      - address
      - account_manager
      - merged_into
      - invoicing
      - external_id
      - managed_by
      - created_at
      - updated_at
      - deleted_at
      properties:
        id:
          $ref: '#/components/schemas/CustomerId'
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Company name.
        number:
          type:
          - string
          - 'null'
          maxLength: 50
          description: Business number. With an active number series TimeLog assigns it; otherwise the client sets it on create.
            Create-only. Unique per tenant once ED-035 adds the constraint (PD-031); until then treat it as a lookup aid.
          x-open-decision:
          - ED-035
        relationship:
          type: array
          readOnly: true
          description: 'Derived from the status label: `customer`, `supplier`, `lead`; empty when the label implies none.
            Change it by changing `customer_status`. Fallback for an unknown value - ignore it.'
          items:
            type: string
            x-extensible-enum:
            - customer
            - supplier
            - lead
        customer_status:
          allOf:
          - $ref: '#/components/schemas/CustomerStatusRef'
          description: The tenant's status label (`GET /v1/customer-statuses`). Required on create; TimeLog has no default.
        status:
          type: string
          readOnly: true
          description: '`active` or `inactive`, derived from the label. Fallback for an unknown value: treat as `inactive`.'
          x-extensible-enum:
          - active
          - inactive
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: ISO 4217 code. Defaults to the tenant's base currency.
        vat_number:
          type:
          - string
          - 'null'
          maxLength: 50
          description: VAT or company registration number, as entered.
        address:
          description: Postal address. `null` when none is recorded.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Address'
        account_manager:
          description: The employee responsible for the customer (`emp_`, PD-038), or `null`.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmployeeRef'
        merged_into:
          readOnly: true
          description: Survivor this customer was marked as merged into (`:mark-merged`, PD-046), or `null`.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/CustomerRef'
          x-open-decision:
          - ED-050
        invoicing:
          $ref: '#/components/schemas/CustomerInvoicing'
        external_id:
          $ref: '#/components/schemas/ExternalIdMap'
        managed_by:
          $ref: '#/components/schemas/ManagedBy'
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        deleted_at:
          type: 'null'
          readOnly: true
          description: Always `null` on a live customer. A deleted customer is returned as a `Tombstone` (P5 §3), never as
            a full body.
    CustomerCompact:
      type: object
      description: Default list projection (P4 §4). `fields=` adds any field of `Customer`.
      required:
      - id
      - name
      - number
      - relationship
      - status
      - updated_at
      properties:
        id:
          $ref: '#/components/schemas/CustomerId'
        name:
          type: string
        number:
          type:
          - string
          - 'null'
        relationship:
          type: array
          items:
            type: string
            x-extensible-enum:
            - customer
            - supplier
            - lead
        status:
          type: string
          x-extensible-enum:
          - active
          - inactive
        updated_at:
          type: string
          format: date-time
    CustomerList:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomerCompact'
        meta:
          $ref: '#/components/schemas/ListMeta'
    Address:
      type: object
      description: Postal address. Storage mapping of the street lines is `[i]` (A1 §5); see ENGINEERING-REVIEW.md.
      properties:
        street:
          type:
          - string
          - 'null'
          maxLength: 255
        postal_code:
          type:
          - string
          - 'null'
          maxLength: 20
        city:
          type:
          - string
          - 'null'
          maxLength: 100
        country:
          type:
          - string
          - 'null'
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2.
    CustomerInvoicing:
      type: object
      description: Invoice settings embedded from the customer's invoice-settings row (C-01; APG-103 closed). Copied to new
        projects.
      required:
      - payment_term
      - calculate_vat
      - vat_rate
      properties:
        payment_term:
          description: Default payment term (`ptm_`), or `null`.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PaymentTermRef'
        calculate_vat:
          type: boolean
          description: Whether VAT is added on invoices to this customer.
        vat_rate:
          type:
          - string
          - 'null'
          pattern: ^[0-9]+(\.[0-9]+)?$
          description: VAT percentage as a decimal string.
    CustomerCreate:
      type: object
      required:
      - name
      - customer_status
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        number:
          type: string
          minLength: 1
          maxLength: 50
          description: Only when the tenant has no active customer number series (PD-031).
        customer_status:
          $ref: '#/components/schemas/CustomerStatusRef'
        currency:
          type: string
          pattern: ^[A-Z]{3}$
        vat_number:
          type:
          - string
          - 'null'
          maxLength: 50
        address:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Address'
        account_manager:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmployeeRef'
        invoicing:
          $ref: '#/components/schemas/CustomerInvoicingWrite'
        external_id:
          $ref: '#/components/schemas/ExternalIdMap'
    CustomerUpsert:
      description: Full writable representation for `PUT ext:`. On the create branch it behaves as `CustomerCreate` and the
        path's key is added to `external_id`; on the update branch omitted optional fields are reset to their defaults and
        `number` is create-only.
      allOf:
      - $ref: '#/components/schemas/CustomerCreate'
    CustomerPatch:
      type: object
      minProperties: 1
      description: Send only the fields to change. `null` clears a nullable field.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        customer_status:
          $ref: '#/components/schemas/CustomerStatusRef'
        currency:
          type: string
          pattern: ^[A-Z]{3}$
        vat_number:
          type:
          - string
          - 'null'
          maxLength: 50
        address:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Address'
        account_manager:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmployeeRef'
        invoicing:
          $ref: '#/components/schemas/CustomerInvoicingWrite'
        external_id:
          $ref: '#/components/schemas/ExternalIdMap'
    CustomerInvoicingWrite:
      type: object
      properties:
        payment_term:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PaymentTermRef'
        calculate_vat:
          type: boolean
        vat_rate:
          type:
          - string
          - 'null'
          pattern: ^[0-9]+(\.[0-9]+)?$
    CustomerWriteResult:
      description: The customer after the write, plus non-fatal `warnings[]` (e.g. `managed_by_upstream`).
      allOf:
      - $ref: '#/components/schemas/Customer'
      - type: object
        required:
        - warnings
        properties:
          warnings:
            type: array
            items:
              $ref: '#/components/schemas/Warning'
    CustomerMarkMerged:
      type: object
      required:
      - into
      - customer_status
      properties:
        into:
          $ref: '#/components/schemas/CustomerRef'
        customer_status:
          $ref: '#/components/schemas/CustomerStatusRef'
    CustomerEvent:
      description: Thin event about a customer (FP-2 envelope). `object.type` is `customer`.
      allOf:
      - $ref: '#/components/schemas/EventEnvelope'
      - type: object
        properties:
          type:
            type: string
            pattern: ^customer\.[a-z_]+$
          object:
            type: object
            properties:
              type:
                const: customer
              id:
                $ref: '#/components/schemas/CustomerId'
    CustomerStatus:
      type: object
      required:
      - id
      - name
      - relationship
      - status
      - is_default
      - created_at
      - updated_at
      properties:
        id:
          $ref: '#/components/schemas/CustomerStatusId'
        name:
          type: string
        relationship:
          type: array
          description: Roles a customer with this label has. Empty for a label that implies none.
          items:
            type: string
            x-extensible-enum:
            - customer
            - supplier
            - lead
        status:
          type: string
          x-extensible-enum:
          - active
          - inactive
          description: Whether the label is active.
        is_default:
          type: boolean
[...]
