# GENERATED by scripts/build_phoenix_poc.py from the vault contract 'projects'. Do not edit.
openapi: 3.1.0
info:
  title: TimeLog API v1 - Projects
  version: 0.1.0-draft
  x-status: draft-for-freeze
  summary: Projects - create them blank or from a template, keep them in step, move them through their lifecycle.
  description: 'The Projects surface of the TimeLog API (`/v1`). A CRM creates the project for a won deal (blank or from a
    template, PD-036), an ERP creates projects from orders keyed by its own id, a PM tool or agent keeps project metadata
    in step, and every integration moves projects through their lifecycle with named actions (`:approve`, `:start`, `:hold`,
    `:complete`, `:archive`, `:cancel`, `:reopen`, `:requote`) that behave exactly as the TimeLog UI does (PD-055). `status`
    is never written directly.


    Conventions (ids, lists, errors, idempotency, rate limits, events) are the platform''s and are described once in the shared
    components. Status: **draft for freeze**. Elements tagged `x-open-decision` carry provisional values until the named decision
    is taken.'
  contact:
    name: TimeLog Developer Experience (integrations Product Owner)
  license:
    name: Proprietary (TimeLog A/S)
    identifier: LicenseRef-TimeLog-Proprietary
  x-derived-from:
  - TARGET_API_MODEL.md D2 (C-04 projects, C-05 project-templates, C-09 reference lists); _work/S8b-D2-delivery.md
  - _work/S5-cards-core.md C-04 (field list)
  - EVENT_CATALOG.md §2.2
  - _work/S8b-traces.md T-107 (lifecycle preconditions and effects)
  - _work/S4-traces/A2-create-project.md (create preconditions and effects)
  x-rulings-applied:
  - FP-1
  - FP-2
  - FP-3
  - FP-4
  - FP-5
  - FP-6
  - FP-7
  - D-007
  - PD-002
  - PD-010
  - PD-022
  - PD-031
  - PD-036
  - PD-038
  - PD-051
  - PD-052
  - PD-055
servers:
- url: https://api.timelog.com
  description: Production
- url: https://api.sandbox.timelog.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Projects
  description: 'A delivery unit for one customer (C-04): the anchor for tasks, contracts, time and invoicing. Created blank
    or from a template; changed with `PATCH`; moved through its lifecycle only by the named actions.'
- name: Project lifecycle
  description: 'The eight real status moves of TimeLog (trace T-107), one action each. TimeLog has no transition matrix: any
    status may move to any other. The API adds no guards (PD-055). One real refusal exists: completing a project while a multi-customer
    contract uses the system customer.'
- name: Project reference lists
  description: 'Read-only lists whose ids a project create needs: project templates (C-05), types, categories and stages (C-09).
    Small lists: fetch them whole. Tenant configuration stays in the TimeLog UI.'
paths:
  /v1/projects:
    get:
      operationId: listProjects
      tags:
      - Projects
      summary: List or search projects
      description: 'Use to find projects by customer, manager, status, dates or organisation, or by name or number (`q=`,
        `number=`). Returns the compact projection by default (`fields=` selects more). There is no `updated_after` on this
        resource yet (ED-002): subscribe to the `project.*` events, or poll new projects with `sort=-created_at`. Row scope:
        the bound employee''s project privileges (all, legal entity, department, projects they manage, projects they are account
        manager of); one predicate for list and get (ED-032).'
      x-requirements:
      - CAP-120
      - CAP-121
      - CAP-122
      - SC-32
      - SC-34
      - SC-42
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      x-open-decision:
      - ED-002
      - ED-032
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/IncludeDeleted'
      - $ref: '#/components/parameters/Q'
      - name: status
        in: query
        description: Only projects in one of these lifecycle states (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 7
          items:
            type: string
            x-extensible-enum:
            - quote
            - approved
            - in_progress
            - on_hold
            - completed
            - archived
            - cancelled
        example:
        - in_progress
        - on_hold
      - name: customer
        in: query
        description: Only projects of these customers (`in` list of `cus_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/CustomerId'
      - name: project_manager
        in: query
        description: Only projects managed by these employees (`in` list of `emp_` ids).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/EmployeeId'
      - name: legal_entity
        in: query
        description: Only projects of these legal entities (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/LegalEntityId'
      - name: department
        in: query
        description: Only projects handled by these departments (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/DepartmentId'
      - name: type
        in: query
        description: Only projects of these project types (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ProjectTypeId'
      - name: category
        in: query
        description: Only projects in these categories (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ProjectCategoryId'
      - name: stage
        in: query
        description: Only projects in these stages (`in`).
        style: form
        explode: false
        schema:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ProjectStageId'
      - name: number
        in: query
        description: Exact project number. Uniqueness is guaranteed only once ED-035 lands; until then several rows may match.
        schema:
          type: string
          maxLength: 50
        example: P-2026-0117
        x-open-decision:
        - ED-035
      - name: is_open_for_time_registration
        in: query
        description: '`true` = only projects that currently accept time (picklists).'
        schema:
          type: boolean
      - name: start_date_from
        in: query
        description: Only projects starting on or after this date.
        schema:
          type: string
          format: date
      - name: start_date_to
        in: query
        description: Only projects starting on or before this date.
        schema:
          type: string
          format: date
      - name: end_date_from
        in: query
        description: Only projects ending on or after this date.
        schema:
          type: string
          format: date
      - name: end_date_to
        in: query
        description: Only projects ending on or before this date.
        schema:
          type: string
          format: date
        example: '2026-12-31'
      - name: sort
        in: query
        description: One sort key, `-` for descending; implicit `id` tiebreak (P4 §3). Ignored when `q` is present.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - updated_at
          - -updated_at
          - name
          - -name
          - number
          - -number
          default: -created_at
      - $ref: '#/components/parameters/ProjectExpand'
      responses:
        '200':
          description: A page of projects (compact projection unless `fields=` asks for more).
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
              examples:
                customer_projects:
                  summary: Open projects of one customer
                  value:
                    data:
                    - id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                      number: P-2026-0117
                      name: Website relaunch
                      status: in_progress
                      customer:
                        id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                      project_manager:
                        id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                      updated_at: '2026-10-01T11:00:00Z'
                    - id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ2
                      number: P-2026-0121
                      name: Support retainer 2027
                      status: on_hold
                      customer:
                        id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                      project_manager:
                        id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP2
                      updated_at: '2026-09-28T15:20:00Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      operationId: createProject
      tags:
      - Projects
      summary: Create a blank project
      description: 'Use for projects that do not start from a template, typically ERP-originated orders; for a CRM won deal,
        prefer `:from-template`. If you key projects on your own id, prefer `PUT /v1/projects/ext:{ns}:{key}`. Runs the TimeLog
        project rules (customer, manager, type, dates, legal entity, currency) and creates a complete project: invoice settings
        copied from the customer, a resource group with the project manager as first member, and one default contract of `default_contract.model`
        (the tenant default when omitted). The initial status is the tenant''s default for externally created projects. Number
        assignment as for customers (PD-031). One atomic outcome; `project.created` is emitted after commit. `?dry_run=true`
        previews the outcome.'
      x-requirements:
      - CAP-123
      - SC-03
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-028
      - ED-035
      - APG-124
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
            examples:
              erp_order:
                summary: A project for an ERP order, fixed-price default contract
                value:
                  name: Website relaunch
                  customer:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  project_manager:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  type:
                    id: pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY1
                  start_date: '2026-10-06'
                  end_date: '2027-03-31'
                  time_registration_model: allocated_only
                  default_contract:
                    model: fixed_price
                    name: Website relaunch - fixed price
                  external_id:
                    erp: SO-55120
      responses:
        '201':
          description: 'Created (or, with `dry_run=true`, what would be created, with placeholder ids and no number drawn).
            Replays of the same `Idempotency-Key` and body return the original outcome with `Idempotent-Replayed: true`.'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                created:
                  $ref: '#/components/examples/ProjectCreatedBlank'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectCreateForbidden'
        '409':
          $ref: '#/components/responses/ProjectCreateConflict'
        '422':
          $ref: '#/components/responses/ProjectUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects:from-template:
    post:
      operationId: createProjectFromTemplate
      tags:
      - Projects
      summary: Create a project from a template
      description: 'The CRM won-deal path (SC-03, PD-036). Copies the template''s contracts and their rates and payors, tasks,
        allocations, milestones, instalments, recurrences, resources and products, governed by the five `include` flags (all
        default `true`; `allocations` takes effect only with `tasks_and_milestones` and `resource_group`). With `budgets_and_payments:
        false`, template contracts are not copied and one default contract is generated instead (recurrence contracts are
        copied regardless). A `default_contract` in the body implies `budgets_and_payments: false` with that model and key,
        so the handover ends with exactly one contract you can address by your deal id. Dates keep the template''s duration
        from `start_date` unless `end_date` is given. Requires `projects:write` and the project-create privilege. One atomic
        outcome; `project.created` is emitted only after the copy completes. Replay-safe: send an `Idempotency-Key` derived
        from your deal id; after the key''s retention window, the same `external_id` returns `409 duplicate` with the existing
        project.'
      x-requirements:
      - CAP-124
      - CAP-125
      - SC-03
      - SC-34
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-028
      - ED-036
      - PD-052
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectFromTemplate'
            examples:
              won_deal:
                summary: A won CRM deal becomes a project with one deal-keyed contract
                value:
                  template:
                    id: ptl_01JB7Q4ZK3M8T5V2W9X6Y0PT01
                  name: Data platform rollout
                  customer:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  project_manager:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  start_date: '2026-11-02'
                  external_id:
                    crm-deal: '88213'
                  include:
                    tasks_and_milestones: true
                    resource_group: true
                    allocations: false
                    budgets_and_payments: true
                    products: false
                  default_contract:
                    model: time_and_material
                    name: Data platform rollout - T&M
                    external_id:
                      crm-deal: '88213'
      responses:
        '201':
          description: Created from the template (or, with `dry_run=true`, what would be created). Replays return the original
            outcome.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                created_from_template:
                  $ref: '#/components/examples/ProjectCreatedFromTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectCreateForbidden'
        '409':
          $ref: '#/components/responses/ProjectCreateConflict'
        '422':
          $ref: '#/components/responses/ProjectFromTemplateUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/ext:{ns}:{key}:
    get:
      operationId: getProjectByExternalId
      tags:
      - Projects
      summary: Get a project by your own key
      description: 'Use to resolve your deal or order id to the TimeLog project that holds it (FP-6). The CRM handover starts
        here: `200` means the project already exists, so skip the create. `404` means no project holds `{ns}:{key}`.'
      x-requirements:
      - CAP-129
      - SC-03
      - SC-04
      - SC-46
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/ExternalKey'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/ProjectExpand'
      responses:
        '200':
          description: The project that holds the key.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                deal_keyed:
                  $ref: '#/components/examples/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      operationId: upsertProjectByExternalId
      tags:
      - Projects
      summary: Create (blank) or update a project by your own key
      description: 'Creates a **blank** project (same body and rules as `POST /v1/projects`) if no project holds `{ns}:{key}`,
        otherwise updates its writable fields (FP-6). Idempotent without a key. On update, `customer`, `legal_entity`, `currency`,
        `number` and `default_contract` are create-only, and `status` is never written here: use the lifecycle actions. If
        the tenant declared another system of record for projects, the write succeeds with the warning `managed_by_upstream`
        (PD-022). Send `If-Match` for two-way syncs. Any credential with `projects:write` may write any namespace, audited
        (PD-051 (c)).'
      x-requirements:
      - CAP-125
      - CAP-129
      - SC-03
      - SC-04
      - SC-46
      x-effects:
        effect: write
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-027
      - ED-028
      - ED-035
      - APG-124
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/Namespace'
      - $ref: '#/components/parameters/ExternalKey'
      - $ref: '#/components/parameters/IfMatch'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpsert'
            examples:
              erp_order:
                summary: An ERP order kept in step under the ERP's key
                value:
                  name: Website relaunch
                  customer:
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  project_manager:
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
                  type:
                    id: pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY1
                  start_date: '2026-10-06'
                  end_date: '2027-03-31'
                  default_contract:
                    model: fixed_price
      responses:
        '200':
          description: Updated the project that holds the key.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                updated:
                  $ref: '#/components/examples/ProjectCreatedBlank'
        '201':
          description: Created a new blank project holding the key.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                created:
                  $ref: '#/components/examples/ProjectCreatedBlank'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectCreateForbidden'
        '409':
          $ref: '#/components/responses/ProjectUpsertConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:
    get:
      operationId: getProject
      tags:
      - Projects
      summary: Get one project
      description: 'Use to resolve a `prj_` reference or re-read state after a `project.*` event. Returns the full project
        and its `ETag`. A deleted project returns its tombstone within the retention window once deletes are captured (ED-037);
        until then, and after the window, `404`. An archived project is not deleted: it is a status.'
      x-requirements:
      - CAP-120
      - CAP-131
      - SC-35
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-037
      - ED-032
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/ProjectExpand'
      responses:
        '200':
          description: The project, or its tombstone during the retention window once deletes are captured.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Project'
                - $ref: '#/components/schemas/Tombstone'
              examples:
                project:
                  $ref: '#/components/examples/Project'
                tombstone:
                  summary: A deleted project inside the retention window
                  value:
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ9
                    deleted_at: '2026-09-15T08:00:00Z'
                    updated_at: '2026-09-15T08:00:00Z'
                    external_id:
                      erp: SO-55001
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      operationId: updateProject
      tags:
      - Projects
      summary: Change some fields of a project
      description: 'Use to keep project metadata in step (SC-04): name, manager, dates, stage, category, contact, department,
        type, time registration model, resource planner availability, invoicing. Send only the fields to change; `null` clears
        a nullable field. `status` is read-only (`422 validation_failed`, field code `read_only`): move a project with the
        lifecycle actions. `customer`, `legal_entity`, `currency`, `number` and `default_contract` are create-only. Emits
        `project.updated`. Send `If-Match` for two-way syncs.'
      x-requirements:
      - CAP-126
      - SC-04
      x-effects:
        effect: write
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-027
      - ED-038
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatch'
            examples:
              extend_and_stage:
                summary: Extend the end date and move to the next stage
                value:
                  end_date: '2027-05-31'
                  stage:
                    id: pst_01JB7Q4ZK3M8T5V2W9X6Y0PST2
      responses:
        '200':
          description: The project after the change.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                updated:
                  $ref: '#/components/examples/ProjectInProgress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectUpdateUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      operationId: deleteProject
      tags:
      - Projects
      summary: Delete a project that has no history
      description: Use to remove a project created by mistake. Allowed only when no time, expenses or invoices exist on it
        (`409 has_dependents` lists their types); the normal end of a project is `:complete`, then `:archive`, or `:cancel`
        (PD-010). Deleting an already-deleted project returns `204` (FP-4). Emits `project.deleted`.
      x-requirements:
      - CAP-128
      x-effects:
        effect: destructive
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-037
      - ED-027
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IfMatch'
      responses:
        '204':
          description: Deleted (or already deleted). No body.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectDeleteConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:requote:
    post:
      operationId: requoteProject
      tags:
      - Project lifecycle
      summary: Move a project back to quote
      description: 'Moves the project to `quote` from any other status. Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): `is_open_for_time_registration` follows the tenant''s time-tracking
        setting for quotes. Contracts closed by an earlier close are not reopened by this move. Already `quote`: `409 invalid_state_transition`,
        with `allowed_actions` listing every other move. Emits `project.status_changed` after commit. Optional `status_date`
        (default: today) is the date recorded for the move. Requires `projects:write` and the right to update this project.
        `Idempotency-Key` optional; `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - SC-04
      - SC-45
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `quote`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                quote:
                  $ref: '#/components/examples/ProjectQuote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:approve:
    post:
      operationId: approveProject
      tags:
      - Project lifecycle
      summary: Approve a project (deal accepted, delivery not started)
      description: 'Moves the project to `approved` from any other status. Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): `is_open_for_time_registration` follows the tenant''s time-tracking
        setting for approved projects. Already `approved`: `409 invalid_state_transition`, with `allowed_actions` listing
        every other move. Emits `project.status_changed` after commit. Optional `status_date` (default: today) is the date
        recorded for the move. Requires `projects:write` and the right to update this project. `Idempotency-Key` optional;
        `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - CAP-130
      - SC-04
      - SC-45
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `approved`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                approved:
                  $ref: '#/components/examples/ProjectApproved'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:start:
    post:
      operationId: startProject
      tags:
      - Project lifecycle
      summary: Start delivery on a project
      description: 'Moves the project to `in_progress` from any other status. Effects (trace T-107, TimeLog''s own status
        change, so the UI and this action behave identically): the project opens for time registration (`is_open_for_time_registration:
        true`). Already `in_progress`: `409 invalid_state_transition`, with `allowed_actions` listing every other move. Emits
        `project.status_changed` and `project.started` after commit. Optional `status_date` (default: today) is the date recorded
        for the move. Requires `projects:write` and the right to update this project. `Idempotency-Key` optional; `If-Match`
        accepted.'
      x-requirements:
      - CAP-127
      - CAP-130
      - SC-04
      - SC-45
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `in_progress`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                in_progress:
                  $ref: '#/components/examples/ProjectInProgress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:hold:
    post:
      operationId: holdProject
      tags:
      - Project lifecycle
      summary: Put a project on hold
      description: 'Moves the project to `on_hold` from any other status. Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): the project closes for time registration. Contracts, milestones and
        timers are not touched. Already `on_hold`: `409 invalid_state_transition`, with `allowed_actions` listing every other
        move. Emits `project.status_changed` after commit. Optional `status_date` (default: today) is the date recorded for
        the move. Requires `projects:write` and the right to update this project. `Idempotency-Key` optional; `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - SC-04
      - SC-35
      - SC-45
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `on_hold`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                on_hold:
                  $ref: '#/components/examples/ProjectOnHold'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:complete:
    post:
      operationId: completeProject
      tags:
      - Project lifecycle
      summary: Complete a project
      description: 'Moves the project to `completed` from any other status. Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): the project closes for time registration; its open contracts move to
        `completed` (`contract.completed`); open milestones are completed; running timers stop. Not done: no check for unapproved
        or uninvoiced time, tasks are not closed. Refused while a multi-customer contract on the project uses the system customer
        (`409 contract_blocks_completion`, the one real refusal in TimeLog). Already `completed`: `409 invalid_state_transition`,
        with `allowed_actions` listing every other move. Emits `project.status_changed` and `project.completed` after commit.
        Optional `status_date` (default: today) is the date recorded for the move. Requires `projects:write` and the right
        to update this project. `Idempotency-Key` optional; `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - SC-35
      - SC-45
      x-effects:
        effect: destructive
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `completed`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                completed:
                  $ref: '#/components/examples/ProjectCompleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectCompleteConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:archive:
    post:
      operationId: archiveProject
      tags:
      - Project lifecycle
      summary: Archive a project
      description: 'Moves the project to `archived` from any other status. Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): as `:complete` (time registration closed, open contracts completed,
        open milestones completed, timers stopped) and `archived_at` is set. Archiving is a status, not a delete (FP-4): the
        project stays readable and listable. Already `archived`: `409 invalid_state_transition`, with `allowed_actions` listing
        every other move. Emits `project.status_changed` and `project.archived` after commit. Optional `status_date` (default:
        today) is the date recorded for the move. Requires `projects:write` and the right to update this project. `Idempotency-Key`
        optional; `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - SC-35
      - SC-45
      x-effects:
        effect: destructive
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `archived`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                archived:
                  $ref: '#/components/examples/ProjectArchived'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:cancel:
    post:
      operationId: cancelProject
      tags:
      - Project lifecycle
      summary: Cancel a project
      description: 'Moves the project to `cancelled` from any other status. Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): the project closes for time registration; its open contracts move to
        `cancelled` (`contract.cancelled`); open milestones are completed; running timers stop. Existing time and invoices
        stay. Already `cancelled`: `409 invalid_state_transition`, with `allowed_actions` listing every other move. Emits
        `project.status_changed` and `project.cancelled` after commit. Optional `status_date` (default: today) is the date
        recorded for the move. Requires `projects:write` and the right to update this project. `Idempotency-Key` optional;
        `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - SC-35
      - SC-45
      x-effects:
        effect: destructive
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `cancelled`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                cancelled:
                  $ref: '#/components/examples/ProjectCancelled'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{id}:reopen:
    post:
      operationId: reopenProject
      tags:
      - Project lifecycle
      summary: Reopen a closed or held project
      description: 'Moves the project to `in_progress` from `on_hold`, `completed`, `archived` or `cancelled` only (from `quote`,
        `approved` or `in_progress` it is `409 invalid_state_transition`). Effects (trace T-107, TimeLog''s own status change,
        so the UI and this action behave identically): the project opens for time registration again. Contracts closed by
        the close are not reopened by this action; reopen them through the contracts API (D3). A completed or cancelled project
        also reopens on its own when one of its contracts becomes open again (emits the same events). Already `in_progress`:
        `409 invalid_state_transition`, with `allowed_actions` listing every other move. Emits `project.status_changed`, `project.reopened`
        and `project.started` after commit. Optional `status_date` (default: today) is the date recorded for the move. Requires
        `projects:write` and the right to update this project. `Idempotency-Key` optional; `If-Match` accepted.'
      x-requirements:
      - CAP-127
      - CAP-130
      - SC-35
      - SC-45
      x-effects:
        effect: write
        idempotent: false
        idempotency: key_optional
      x-open-decision:
      - ED-027
      - ED-032
      - ED-049
      security:
      - bearerAuth:
        - projects:write
      parameters:
      - $ref: '#/components/parameters/ProjectPathId'
      - $ref: '#/components/parameters/IdempotencyKeyOptional'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LifecycleAction'
      responses:
        '200':
          description: The project in `in_progress`.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replayed:
              $ref: '#/components/headers/Idempotent-Replayed'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWriteResult'
              examples:
                in_progress:
                  $ref: '#/components/examples/ProjectInProgress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '409':
          $ref: '#/components/responses/ProjectTransitionConflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/ProjectActionUnprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-templates:
    get:
      operationId: listProjectTemplates
      tags:
      - Project reference lists
      summary: List project templates
      description: 'Use to pick the `template` for `:from-template` and to see which of the five include flags a template
        can honour. Small list: fetch it whole. Snapshot-only: a removed template disappears (P5 §3 (ii)). Two storage mechanisms
        sit behind this list (template rows and template projects); both appear here with one id space (ED-036).'
      x-requirements:
      - CAP-134
      - SC-03
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      x-open-decision:
      - ED-036
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/ReferenceStatus'
      - $ref: '#/components/parameters/ReferenceSort'
      responses:
        '200':
          description: A page of project templates.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTemplateList'
              examples:
                templates:
                  summary: Two active templates
                  value:
                    data:
                    - id: ptl_01JB7Q4ZK3M8T5V2W9X6Y0PT01
                      name: Implementation - standard
                      status: active
                      default_project_status: approved
                      source: template
                      includes:
                        tasks_and_milestones: true
                        resource_group: true
                        allocations: true
                        budgets_and_payments: true
                        products: false
                      created_at: '2025-02-01T09:00:00Z'
                      updated_at: '2026-06-12T10:30:00Z'
                    - id: ptl_01JB7Q4ZK3M8T5V2W9X6Y0PT02
                      name: Support retainer
                      status: active
                      default_project_status: in_progress
                      source: project
                      includes:
                        tasks_and_milestones: true
                        resource_group: true
                        allocations: false
                        budgets_and_payments: true
                        products: true
                      created_at: '2025-04-11T13:00:00Z'
                      updated_at: '2025-04-11T13:00:00Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-templates/{id}:
    get:
      operationId: getProjectTemplate
      tags:
      - Project reference lists
      summary: Get one project template
      description: Use to resolve a `ptl_` reference, e.g. a project's `created_from_template` (P3 §2).
      x-requirements:
      - CAP-134
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-open-decision:
      - ED-036
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - name: id
        in: path
        required: true
        description: The template id (`ptl_…`). Not pattern-checked, so any other prefix is `404` (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: ptl_01JB7Q4ZK3M8T5V2W9X6Y0PT01
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The template.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTemplate'
              examples:
                template:
                  value:
                    id: ptl_01JB7Q4ZK3M8T5V2W9X6Y0PT01
                    name: Implementation - standard
                    status: active
                    default_project_status: approved
                    source: template
                    includes:
                      tasks_and_milestones: true
                      resource_group: true
                      allocations: true
                      budgets_and_payments: true
                      products: false
                    created_at: '2025-02-01T09:00:00Z'
                    updated_at: '2026-06-12T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectReferenceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-types:
    get:
      operationId: listProjectTypes
      tags:
      - Project reference lists
      summary: List project types
      description: 'Use to pick the required `type` for a blank create. Small list: fetch it whole. Read-only; snapshot-only
        (P5 §3 (ii)).'
      x-requirements:
      - CAP-147
      - SC-04
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/ReferenceStatus'
      - $ref: '#/components/parameters/ReferenceSort'
      responses:
        '200':
          description: A page of project types.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectReferenceList'
              examples:
                project_types:
                  value:
                    data:
                    - id: pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY1
                      name: Fixed-price delivery
                      sort_order: 1
                      status: active
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    - id: pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY2
                      name: Time and material
                      sort_order: 2
                      status: active
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-types/{id}:
    get:
      operationId: getProjectType
      tags:
      - Project reference lists
      summary: Get one project type
      description: Use to resolve a `pty_` reference from a project body (P3 §2, SC-43).
      x-requirements:
      - CAP-147
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - name: id
        in: path
        required: true
        description: The project type id (`pty_…`). Not pattern-checked, so any other prefix is `404` (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY1
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The project type.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectReferenceItem'
              examples:
                entry:
                  value:
                    id: pty_01JB7Q4ZK3M8T5V2W9X6Y0PTY1
                    name: Fixed-price delivery
                    sort_order: 1
                    status: active
                    created_at: '2024-01-10T08:00:00Z'
                    updated_at: '2024-01-10T08:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectReferenceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-categories:
    get:
      operationId: listProjectCategories
      tags:
      - Project reference lists
      summary: List project categorys
      description: 'Use to pick `category` (required on create only where the tenant requires categories). Small list: fetch
        it whole. Read-only; snapshot-only (P5 §3 (ii)).'
      x-requirements:
      - CAP-147
      - SC-04
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/ReferenceStatus'
      - $ref: '#/components/parameters/ReferenceSort'
      responses:
        '200':
          description: A page of project categorys.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectReferenceList'
              examples:
                project_categories:
                  value:
                    data:
                    - id: pca_01JB7Q4ZK3M8T5V2W9X6Y0PCA1
                      name: Implementation
                      sort_order: 1
                      status: active
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    - id: pca_01JB7Q4ZK3M8T5V2W9X6Y0PCA2
                      name: Consulting
                      sort_order: 2
                      status: active
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-categories/{id}:
    get:
      operationId: getProjectCategory
      tags:
      - Project reference lists
      summary: Get one project category
      description: Use to resolve a `pca_` reference from a project body (P3 §2, SC-43).
      x-requirements:
      - CAP-147
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - name: id
        in: path
        required: true
        description: The project category id (`pca_…`). Not pattern-checked, so any other prefix is `404` (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: pca_01JB7Q4ZK3M8T5V2W9X6Y0PCA1
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The project category.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectReferenceItem'
              examples:
                entry:
                  value:
                    id: pca_01JB7Q4ZK3M8T5V2W9X6Y0PCA1
                    name: Implementation
                    sort_order: 1
                    status: active
                    created_at: '2024-01-10T08:00:00Z'
                    updated_at: '2024-01-10T08:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectReferenceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-stages:
    get:
      operationId: listProjectStages
      tags:
      - Project reference lists
      summary: List project stages
      description: 'Use to pick `stage`, the tenant''s own pipeline (not the lifecycle status), e.g. to mirror a CRM stage
        (SC-04). Small list: fetch it whole. Read-only; snapshot-only (P5 §3 (ii)).'
      x-requirements:
      - CAP-147
      - SC-04
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      x-incremental-sync: false
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/IdFilter'
      - $ref: '#/components/parameters/CreatedAfter'
      - $ref: '#/components/parameters/CreatedBefore'
      - $ref: '#/components/parameters/ReferenceStatus'
      - $ref: '#/components/parameters/ReferenceSort'
      responses:
        '200':
          description: A page of project stages.
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectReferenceList'
              examples:
                project_stages:
                  value:
                    data:
                    - id: pst_01JB7Q4ZK3M8T5V2W9X6Y0PST1
                      name: Kick-off
                      sort_order: 1
                      status: active
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    - id: pst_01JB7Q4ZK3M8T5V2W9X6Y0PST2
                      name: Build
                      sort_order: 2
                      status: active
                      created_at: '2024-01-10T08:00:00Z'
                      updated_at: '2024-01-10T08:00:00Z'
                    meta:
                      next_cursor: null
                      has_more: false
                      tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                      as_of: '2026-10-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/project-stages/{id}:
    get:
      operationId: getProjectStage
      tags:
      - Project reference lists
      summary: Get one project stage
      description: Use to resolve a `pst_` reference from a project body (P3 §2, SC-43).
      x-requirements:
      - CAP-147
      - SC-43
      x-effects:
        effect: read
        idempotent: true
        idempotency: natural
      security:
      - bearerAuth:
        - projects:read
      parameters:
      - name: id
        in: path
        required: true
        description: The project stage id (`pst_…`). Not pattern-checked, so any other prefix is `404` (P3 §2 rule 3).
        schema:
          type: string
          minLength: 1
          maxLength: 64
        example: pst_01JB7Q4ZK3M8T5V2W9X6Y0PST1
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The project stage.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Request-Id:
              $ref: '#/components/headers/Request-Id'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectReferenceItem'
              examples:
                entry:
                  value:
                    id: pst_01JB7Q4ZK3M8T5V2W9X6Y0PST1
                    name: Kick-off
                    sort_order: 1
                    status: active
                    created_at: '2024-01-10T08:00:00Z'
                    updated_at: '2024-01-10T08:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ProjectsForbidden'
        '404':
          $ref: '#/components/responses/ProjectReferenceNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
webhooks:
  project.created:
    post:
      operationId: onProjectCreated
      summary: A project now exists, complete
      description: 'Emitted after commit, and for template creates only after the copy has finished (APG-106). `related[]`:
        customer and project manager. Phoenix project create and raw system-project inserts do not emit yet (ED-049).'
      x-requirements:
      - SC-03
      - SC-34
      x-open-decision:
      - ED-028
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              created:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E001
                  type: project.created
                  occurred_at: '2026-10-01T11:00:00Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related:
                  - type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  - type: employee
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.updated:
    post:
      operationId: onProjectUpdated
      summary: Public project fields changed (not a status move)
      description: 'Any public field changed by `PATCH`, `PUT ext:` or TimeLog. A lifecycle move emits `project.status_changed`
        instead, never this. No field list: GET and compare.'
      x-requirements:
      - SC-04
      - SC-35
      x-open-decision:
      - ED-002
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              updated:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E002
                  type: project.updated
                  occurred_at: '2026-10-01T11:00:01Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related:
                  - type: customer
                    id: cus_01JB7Q4ZK3M8T5V2W9X6Y0CX01
                  - type: employee
                    id: emp_01JB7Q4ZK3M8T5V2W9X6Y0EMP1
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.status_changed:
    post:
      operationId: onProjectStatusChanged
      summary: Any lifecycle move
      description: 'Every move through TimeLog''s status change: the `/v1` actions, the UI, bulk and SOAP status changes,
        the status worker and the contract auto-reopen. GET the project for the new `status`. A status written directly by
        the Phoenix project update does not emit (ED-049).'
      x-requirements:
      - SC-04
      - SC-35
      - SC-45
      x-open-decision:
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              status_changed:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E003
                  type: project.status_changed
                  occurred_at: '2026-10-01T11:00:02Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.started:
    post:
      operationId: onProjectStarted
      summary: Moved to in progress (open for delivery and time)
      description: Emitted by `:start` and `:reopen` and the equivalent TimeLog moves, together with `project.status_changed`.
      x-requirements:
      - SC-04
      x-open-decision:
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              started:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E004
                  type: project.started
                  occurred_at: '2026-10-01T11:00:03Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.completed:
    post:
      operationId: onProjectCompleted
      summary: Completed
      description: 'Closed as completed: time registration closed, open contracts completed, open milestones completed, timers
        stopped.'
      x-requirements:
      - SC-35
      x-open-decision:
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              completed:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E005
                  type: project.completed
                  occurred_at: '2026-10-01T11:00:04Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.archived:
    post:
      operationId: onProjectArchived
      summary: Archived
      description: 'Closed as archived: the same effects as completed, and `archived_at` is set.'
      x-requirements:
      - SC-35
      x-open-decision:
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              archived:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E006
                  type: project.archived
                  occurred_at: '2026-10-01T11:00:05Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.cancelled:
    post:
      operationId: onProjectCancelled
      summary: Cancelled
      description: 'Closed as cancelled: open contracts cancelled.'
      x-requirements:
      - SC-35
      x-open-decision:
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              cancelled:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E007
                  type: project.cancelled
                  occurred_at: '2026-10-01T11:00:06Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.reopened:
    post:
      operationId: onProjectReopened
      summary: A closed or held project moved back to in progress
      description: By `:reopen`, or by TimeLog when a contract of a completed or cancelled project becomes open again.
      x-requirements:
      - SC-35
      x-open-decision:
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              reopened:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E008
                  type: project.reopened
                  occurred_at: '2026-10-01T11:00:07Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
  project.deleted:
    post:
      operationId: onProjectDeleted
      summary: A project was deleted
      description: A `GET` returns the tombstone within the retention window once deletes are captured (ED-037), else `404`.
      x-requirements:
      - SC-35
      x-open-decision:
      - ED-037
      - ED-049
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectEvent'
            examples:
              deleted:
                value:
                  id: evt_01JB7Q4ZK3M8T5V2W9X6Y0E009
                  type: project.deleted
                  occurred_at: '2026-10-01T11:00:08Z'
                  api_version: null
                  tenant_id: ten_01JB7Q4ZK3M8T5V2W9X6Y0TEN1
                  object:
                    type: project
                    id: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
                  related: []
      responses:
        '200':
          description: Any 2xx acknowledges the delivery.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer credential of a service account bound to an `api_user` employee (D-007) or a personal access token
        (P2 §A). The tenant comes from the credential only. Effective permission = scope ∩ privilege ∩ licence ∩ row scope
        (P2 §B). Security requirements list the required `<family>:<access>` scopes as role names (OpenAPI 3.1 §4.8.30). Token
        mechanism: service accounts ED-019, PATs on the public host ED-004.'
      x-open-decision:
      - ED-019
      - ED-004
      x-scopes:
        time:read: Read time entries, timesheets and calendar events.
        time:write: Create and change time entries.
        planning:read: Read allocations, bookings and capacity views.
        planning:write: Set booking shares and change allocations.
        costs:read: Sensitive (PD-012). Cost and revenue fields; omitted from bodies when absent.
        customers:read: Read customers, their status labels and (when shipped) contacts.
        customers:write: Create, change, merge-mark and delete customers.
        projects:read: Read projects, project templates and project reference lists (types, categories, stages).
        projects:write: Create projects (blank or from a template), change them, move them through their lifecycle and delete
          them.
  parameters:
    ProjectPathId:
      name: id
      in: path
      required: true
      description: The project id (`prj_…`). Deliberately not pattern-checked, so any other prefix is `404 not_found`, never
        `400` (P3 §2 rule 3).
      schema:
        type: string
        minLength: 1
        maxLength: 64
      example: prj_01JB7Q4ZK3M8T5V2W9X6Y0PRJ1
    Namespace:
      name: ns
      in: path
      required: true
      description: Your namespace token (`[a-z0-9-]`, 1-32 chars, stable once used), e.g. `crm-deal` or `erp`.
      schema:
        $ref: '#/components/schemas/NamespaceToken'
      example: erp
    ExternalKey:
      name: key
      in: path
      required: true
      description: Your key within the namespace (URL-encoded).
      schema:
        type: string
        minLength: 1
        maxLength: 255
      example: SO-55120
    ProjectExpand:
      name: expand
      in: query
      description: Replace these references in place with the full object (one level, P4 §5).
      style: form
      explode: false
      schema:
        type: array
        maxItems: 5
        items:
          type: string
          enum:
          - customer
          - project_manager
          - default_contract
          - stage
          - legal_entity
    ReferenceStatus:
      name: status
      in: query
      description: Only active or only inactive entries.
      schema:
        type: string
        x-extensible-enum:
        - active
        - inactive
      example: active
    ReferenceSort:
      name: sort
      in: query
      description: One sort key, `-` for descending; implicit `id` tiebreak (P4 §3).
      schema:
        type: string
        enum:
        - created_at
        - -created_at
        - updated_at
        - -updated_at
        - name
        - -name
        default: name
    Limit:
      name: limit
      in: query
      required: false
      description: Page size. Default 50, maximum 100 (P4 §1 starting values). Above the maximum is `400 malformed_request`,
        never silently clamped.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque `meta.next_cursor` from the previous page (P4 §1). Send it with no other parameter changed, or the
        response is `400 invalid_cursor`. Cursor lifetime is a published service window (PD-052); an expired cursor is `400
        invalid_cursor`.
      schema:
        type: string
        maxLength: 2048
      x-open-decision:
      - PD-052
      - ED-011
    Fields:
      name: fields
      in: query
      required: false
      description: Comma-separated top-level fields to return (`id` always included); dotted paths select inside an expanded
        reference (P4 §4).
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          pattern: ^[a-z][a-z0-9_]*(\.[a-z][a-z0-9_]*)?$
        maxItems: 50
    IdFilter:
      name: id
      in: query
      required: false
      description: Only these ids (`in`, comma-separated, max 100) (P4 §2 global set).
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
        maxItems: 100
    CreatedAfter:
      name: created_after
      in: query
      required: false
      description: Only rows created strictly after this instant (P4 §2 global set).
      schema:
        type: string
        format: date-time
    CreatedBefore:
      name: created_before
      in: query
      required: false
      description: Only rows created at or before this instant (P4 §2 global set).
      schema:
        type: string
        format: date-time
    IncludeDeleted:
      name: include_deleted
      in: query
      required: false
      description: '`true` adds soft-deleted rows (tombstones) within the retention window (FP-4, P5 §3). Resources whose
        delete strategy is snapshot-only return no tombstones; their reference page says so.'
      schema:
        type: boolean
        default: false
    IdempotencyKeyRequired:
      name: Idempotency-Key
      in: header
      required: true
      description: 'Client-generated key (≤ 255 chars, UUID recommended) making this write safe to retry (P6 §1). Required
        here because a duplicate costs money, pay or approval. Same key + same body → original outcome replayed with `Idempotent-Replayed:
        true`; same key + different body → `409 idempotency_key_reused`; still in flight → `409 idempotency_request_in_progress`.
        Missing → `400 validation_failed` (`pointer: header:Idempotency-Key`). Key retention is a published service window
        with a floor of 24 h (PD-052).'
      schema:
        type: string
        minLength: 1
        maxLength: 255
      example: 6f1c2b9e-3a47-4d0c-9a51-2f8e7d1c4b10
      x-open-decision:
      - PD-052
    IdempotencyKeyOptional:
      name: Idempotency-Key
      in: header
      required: false
      description: Optional, recommended on retries (P6 §1). Same replay semantics as where it is required. Retention per
        PD-052.
      schema:
        type: string
        minLength: 1
        maxLength: 255
      example: 0b8d4f3a-91e2-4c67-8f1d-5a2c3e9b7d64
      x-open-decision:
      - PD-052
    IfMatch:
      name: If-Match
      in: header
      required: false
      description: Write only if the resource's current `ETag` equals this value; otherwise `412 precondition_failed` and
        nothing is written (P6 §3). Optional; omitting it is last-write-wins.
      schema:
        type: string
    DryRun:
      name: dry_run
      in: query
      required: false
      description: '`true` runs the same authorization, validation and business rules and returns what the real call would
        return (status, body with a placeholder id, `warnings[]`, or the same error) with no side effects: nothing stored,
        no events, no id reserved, no idempotency record (P6 §5).'
      schema:
        type: boolean
        default: false
    Q:
      name: q
      in: query
      required: false
      description: 'Free-text search over the resource''s declared search fields (its reference page lists them), case- and
        accent-insensitive, minimum 2 characters (P4 §6). Deterministic ranking: exact business-key match (number, external
        key, email) first, then name prefix, then contained term; ties by `id`. `sort` is ignored when `q` is present. Search
        obeys row scope. If an index serves it, `meta.as_of` reflects the index''s freshness.'
      schema:
        type: string
        minLength: 2
        maxLength: 200
      x-open-decision:
      - ED-040
  requestBodies:
    LifecycleAction:
      required: false
      description: Optional. Without a body the move is recorded for today.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectLifecycleAction'
          examples:
            with_date:
              summary: Record the move on a given date
              value:
                status_date: '2026-10-01'
            empty:
              summary: Record the move for today
              value: {}
  responses:
    ProjectsForbidden:
      description: 'The credential may not perform this operation (P8 class 2): `missing_scope` (context `required_scopes`)
        or `insufficient_privilege` (the bound employee lacks a project privilege, or may read but not update this project).
        A project outside the row scope is `404`, never `403`.'
      x-error-codes:
      - missing_scope
      - insufficient_privilege
      x-context-by-code:
        missing_scope: ../_shared/components.yaml#/components/schemas/MissingScopeContext
      headers:
        Request-Id:
          $ref: '#/components/headers/Request-Id'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
[...]
